.wst-se-header2{padding-left:0}
.wst-se-search{width:76%}
.wst-se-header2 .ui-icon-return{color:#59595c}
#goods-list{padding-bottom:0.55rem;}
.wst-shl-list{padding:5px 10px;margin-top:5px;background:#fff;position:relative;}
.wst-shl-list2{background:#e7e7e7}
.wst-shl-list .img{float:left;width:100%;height:100px;text-align:center;vertical-align:middle;display:block;position:relative}
.wst-shl-list .img a{width:100%;height:100px;display:table-cell;vertical-align:middle}
.wst-shl-list .img a img{max-width:100px;max-height:100px}
.wst-shl-list .info{padding-left:5px}
.wst-shl-list .title{margin-bottom:5px;font-size:.14rem;color:#363638;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;}
.wst-shl-list p{font-size:.15rem}
.wst-shl-list p img{width:15px}
.wst-shl-list p span{float:left}
.wst-shl-list p i{float:left;width:16px;height:16px;margin:2px 3px 0 0}
.wst-shl-list .prices{width:auto;height:25px;position: absolute;bottom: 0px;font-size:0.14rem;}
.wst-shl-list .price{color:#e01324;line-height:20px;font-size:.18rem;font-weight:700;}
.wst-shl-list .price2{font-size:.13rem;text-decoration:line-through;margin-left:8px;color:#bdbdbd;}
.wst-shl-list .time{width:100%;height:30px;}
.wst-shl-list .time-before{color:#e01324;font-size:0.14rem;}
.wst-shl-list .gtotal{float:left;width:calc(100% - 1rem);border-radius: 0.05rem 0.05rem;background:#eeee;height:10px;margin-top:5px;margin-bottom:5px;margin-right:5px;}
.wst-shl-list .gsale{background:#e00102;height:10px;border-radius: 0.05rem 0.05rem;}
.wst-shl-list .txtsale{float:right;font-size:0.11rem;color:#e00102;padding-top:4px;}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-fr-box{position:fixed;z-index:9999;right:-999px;bottom:0;width:100%;min-height:40%;background:#f2f2f2;font-size:.15rem}
.wst-cart-box .title,.wst-fr-box .title{position:relative;padding:6px 0;border-bottom:1px solid #f1f1f1}
.wst-fr-box .title span{float:left;width:100%;height:26px;line-height:26px;text-align:center;font-size:.185rem}
.wst-cart-box .title i,.wst-fr-box .title i{position:absolute;right:5px;top:-2px;font-size:27px}
.wst-fr-box .content{background:#f2f2f2}
.wst-cart-box .button,.wst-fr-box .button{position:absolute;left:3%;bottom:0;width:93%;font-size:.185rem;height:40px;line-height:40px;color:#fff;background:#e00102;border-bottom:1px solid #e00102}
.wst-cart-box .button:not(.disabled):not(:disabled):active,.wst-fr-box .button:not(.disabled):not(:disabled):active{color:#fff0f0;background:#f52f30;background-clip:padding-box}
.ui-scrollerl{width:24%;height:496px;overflow:hidden;background:#f3f4f6;position:fixed}
.ui-scrollerl li{padding:8px 5px;font-size:.15rem;text-align:center}
.wst-goodscate{color:#676767;border-top:1px solid #dfe0e2;border-right:1px solid #dfe0e2}
.wst-goodscate_selected{color:#fc786b;background:#f2f2f2;border-right:1px solid #f2f2f2;border-left:2px solid #fc786b}
.wst-scrollerr{width:76%;float:right}
.wst-scrollerr li{float:left;width:100%;font-size:.15rem;color:#000}
.wst-goodsca{height:35px;background:#f2f2f2}
.wst-goodsca span{float:left;color:#888;margin-top:6px;margin-left:8px;border-left:2px solid #fc786b}
.wst-goodsca i{float:right;height:35px;margin-top:-6px;color:#fc786b}
.wst-goodscat{float:left;width:94%;padding:0 0 12px 8px}
.wst-goodscats{float:left;width:94%;padding:0 0 12px 8px}
.wst-goodscat span{float:left;width:49%;padding:5px 0;text-align:center;background:#f3f4f6;border:1px solid #dfe0e2}
.wst-goodscat span a{color:#69696b}
.buttons{position: absolute;bottom: 10px;right:10px}
.buttons a{font-size:0.13rem;padding:5px 8px;background:#e54848;color:#fff;border-radius:5px}
