		    <li class="ui-col ui-col-25 user-icon-box ui-center-hor">
		    	<a href="{:url('/addon/auction-users-moauction')}">
		    	<p><i class="auction-icon"></i></p>
		    	<span class="ui-flex ui-flex-align-end ui-flex-pack-center">{:lang('auction_mine')}</span>
		    	</a>
		    </li>
		    <li class="ui-col ui-col-25 user-icon-box ui-center-hor">
		    	<a href="{:url('/addon/auction-users-momoney')}">
		    	<p><i class="auction-icon2"></i></p>
		    	<span class="ui-flex ui-flex-align-end ui-flex-pack-center">{:lang('auction_my_caution_money')}</span>
		    	</a>
		    </li>
		    <style>
		    	.auction-icon{
		    		background:url(__ROOT__/addons/auction/view/images/auction2.png) center center no-repeat;
		    	    background-size: 100%;
		    	}
		    	.auction-icon2{
		    		background:url(__ROOT__/addons/auction/view/images/bond.png) center center no-repeat;
		    	    background-size: 100%;
		    	}
		    </style>