.fl{float: left}
.fr{float: right}
.wst-clear{clear: both;}
.cl_ul{background-color: #fff;;width: 100%; box-sizing: border-box; }
.cl_li{width: 100%;padding: 0.12rem;padding-bottom: 0;box-sizing: border-box;}
.cl_li a{}
.cl_imgbox{position: relative;float: left;width: 0.41rem;height: 0.41rem;border-radius: 6px;box-sizing: border-box;}
.cl_imgbox img{width: 100%; height: 100%; }
.cl_infobox{margin-left: 0.12rem;width: 72%;float: left;box-sizing: border-box;border-bottom: 1px solid #eee;padding-bottom: 0.12rem;}
.cl_sname{color: #333;font-size: 0.14rem;font-weight: bold;}
.cl_desc{margin-top: 1px;font-size: 13px;color: #666;display: block;width: 80%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.un_read{ width: 15px; height: 15px; line-height: 16px; font-size: 0.11rem; position: absolute; display: block; background-color: red; color: #fff; border-radius: 50%; right: -6px; top: -4px; text-align: center; }
.c12_999{font-size: 12px;color: #999;font-weight: normal;}

/* 系统消息 */
.sysmsg-box{ padding-bottom:0.1rem; background-color:#F2F2F2;}
.sysmsg-main{ background-color:#fff; height:0.65rem; box-sizing: border-box; padding:0.14rem 0.12rem}
.msg-content{ width: 3rem; overflow: hidden; white-space: nowrap; text-overflow:ellipsis; display: block;}
.sysmsg-icon{width:0.25rem; height:0.25rem; margin-right:0.1rem;}
.flex1{flex: 1}
.row{display: flex;flex-direction: row;}
.ac{align-items: center}
.f14{font-size: 0.14rem;}
.c333{color: #333;}
.fb{font-weight: bold;}
.f11{font-size: 0.11rem;}
.c999{color: #999;}
.mla{margin-left: auto;}
.f12{font-size: 0.12rem;}
.c666{color: #666;}
.mt5{margin-top: 0.1rem;}

/* checkbox */
.chk-box{ float: left; margin-right: 0.1rem;}
.wst-active {color: #EA4341;}
.wst-footer-btns {border: 0;background: #FFF;}
.wst-ca-se{padding:0 .14rem;font-size:.14rem;height:0.44rem;line-height:0.44rem;color:#333;}
.wst-ca-se .totall i{}
.wst-ca-se .totalr span{color:#333;font-size:0.14rem;}
.wst-ca-se .total{float:right;margin-right:6px}
.wst-ca-se .total .price{color:#EA4341;font-size: 0.16rem;}
.wst-ca-se .totalr .price span{color:#EA4341;font-size:.16rem;}
.wst-ca-se .totalr .del-button{ float: right; width: 0.5rem; line-height: 0.23rem; height: 0.23rem; color: #fff; font-size: .11rem; background: #EA4341; border-radius: 6px; margin-top: 3%;}
.wst-ca-se .totalr .button:not(.disabled):not(:disabled):active,.wst-ca-se .totalr .button.active{color:#fbd6d6;background:#f25a5b;background-clip:padding-box}
.wst-header .edit{right: 33px;}
.wst-ca-10{float:left;width:10%;box-sizing:border-box}
.wst-ca-90{float:left;width:90%;box-sizing:border-box}