<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{:lang('wstim_my_customer_service')}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__ROOT__/addons/wstim/view/mobile/static/frozenui/css/frozen.css">
    
    <link rel="stylesheet"  href="__ROOT__/addons/wstim/view/mobile/chats/app.css">
    <link rel="stylesheet" type="text/css" href="__ROOT__/addons/wstim/view/static/webuploader/webuploader.css" />
    

    <script src="__ROOT__/runtime/js/addons/lang-{$lang}.js?v={$v}" type="text/javascript"></script>
    <script type="text/javascript" src="__ROOT__/addons/wstim/view/static/js/jquery.min.js"></script>
    <script type='text/javascript' src='__ROOT__/addons/wstim/view/static/js/common.js'></script>
    <script type='text/javascript' src='__ROOT__/addons/wstim/view/mobile/chats/index.js'></script>
    <script type='text/javascript' src='__ROOT__/addons/wstim/view/static/webuploader/webuploader.js'></script>
    <script type='text/javascript' src='__ROOT__/addons/wstim/view/static/layer/layer.js'></script>

    <link rel="stylesheet" href="__ROOT__/addons/wstim/view/mobile/static/alertjs/alertjs.css">
    <script type='text/javascript' src='__ROOT__/addons/wstim//view/mobile/static/alertjs/alertjs.js'></script>

    <link rel="stylesheet" href="__ROOT__/addons/wstim/view/static/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="__ROOT__/addons/wstim/view/static/photoswipe/default-skin/default-skin.css">
    <script src="__ROOT__/addons/wstim/view/static/photoswipe/photoswipe.min.js"></script>
    <script src="__ROOT__/addons/wstim/view/static/photoswipe/photoswipe-ui-default.min.js"></script>

</head>
<body class="noHeader">
{/* 图片查看层 */}
<div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="{:lang('wstim_close')}"></button>
            <button class="pswp__button pswp__button--fs" title="{:lang('wstim_full_screen')}"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
                <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                    <div class="pswp__preloader__donut"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip">
            </div>
        </div>
        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
        <div class="pswp__caption">
            <div class="pswp__caption__center">
            </div>
        </div>
        </div>
    </div>
</div>
            



<div class="main">
    <!-- 客服信息 -->
    <div class="top-info top-sname" id="J_CustomServiceInfo">
        <a class="back_icon" href="javascript:void(0)" onclick="history.go(-1)">
            <i class="ui-icon-return"></i>
        </a>
        <div class="J_WaiterBody inner on" style="height:40px;">
            <div class="h_center" >
                <img 
                    id="shopImg"
                    class="J_WaiterHead offline" 
                    src="" alt="" />
                <div class="fl">
                    <p class="name">
                        <span id="logoTitle"></span>
                    </p>
                </div>
            </div>
        </div>
         <a onclick="_entryShop()" class="entry_shop">{:lang('wstim_enter_the_store')}</a>
    </div>
    <div id="J_Wrapper" class="im-chat-window">
        <div id="J_ScrollDiv" class="scroll-div" style="transform: translate(0px, 0px) translateZ(0px);">
            <div class="pull-down" id="J_PullDown">
                <span class="pull-down-icon"></span>
                <span class="pull-down-label">{:lang('wstim_loading')}</span>
            </div>
            <ul class="im-chat-list im-chat-pb" id="J_ImChatList">
                
            </ul>
        </div>
    </div>
    <!--footer-->
    <footer id="J_Toolbar">
        <div class="J_FastLinkWrap">
        </div>
        <div class="J_ImKey im-key im-key-open">
            <span class="cell01" style="width: 89%;">
                <input maxlength="360" placeholder="{:lang('wstim_tips17')}" class="text-in" id="J_TextIn" type="text" autocomplete="off" style="width: 335px;">
            </span>
            <span class="cell02">
                <a class="btn-link" onclick="sendMsg()" id="J_SendToggle" href="javascript:void(0);">
                    {:lang('wstim_send_out')}
                </a>
            </span>
        </div>
        <div class="tool-main">
            <ul class="J_ToolNav tool-nav">
                <li class="">
                    <a href="javascript:void(0);" id="J_Photo" class="J_Photo btn-photo"><span>{:lang('wstim_uploade')}</span>
                        
                    </a>
                </li>
                <li class="">
                    <a href="javascript:void(0);" id="J_Order" class="btn-order"><span>{:lang('wstim_my_order')}</span></a>
                </li>
                <li class="">
                    <a href="javascript:void(0);" id="J_Recent" class="btn-recent"><span>{:lang('wstim_recent_browsing')}</span></a>
                </li>
                <li class="">
                    <a href="javascript:void(0);" id="J_Eval" class="btn-eval"><span>{:lang('wstim_tip21')}</span></a>
                </li>
            </ul>
        </div>
    </footer>
    <div class="loading-instance" id="Global_Loading" style="display: none;">
        <p class="loading-img">
        <i></i>
            {:lang('wstim_tips10')} 
        </p>
         <a class="wait_btn" href="#">{:lang('wstim_tips11')}</a>
    </div>
  
  <div class="im-list-pop has-mask" id="Im_PopUp" style="display: none;">
        <div class="im-list-sub"><div class="im-pop-close"><a href="javascript:;"></a></div>
            <div class="im-box-pop" id="Im_test" style="max-height: 500px;">
                <div class="im-box-title">{:lang('wstim_tip18')}</div>
                <div class="im-scroll-pop" id="J_ImScrollPop" style="max-height: 336px; height: 307px;">
                    <div class="im-scroll-cont" style="transform: translate(0px, 0px) translateZ(0px);">
                        <div class="im-order">
                            <div class="pull-Up"><span class="pull-icon"></span><span class="pull-label"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>
</div>

<div>
    <div class="evaluate-box" style="display: none">
        <div class="star-box">
            <div class="eval-star"></div>
            <div class="eval-star"></div>
            <div class="eval-star"></div>
            <div class="eval-star"></div>
            <div class="eval-star"></div>
            <div class="clear"></div>
        </div>
        <div class="star-text-box">
            <span id="star-text">{:lang('wstim_very_satisfied')}</span>
        </div>
        <div class="eval-btm">
            <a href="javascript:void(0)" onclick="submitEval()">{:lang('wstim_submit')}</a>
        </div>
    </div>
</div>


<input type="hidden" value="" id="shopId">
<input type="hidden" value="" id="receiveId">
<input type="hidden" value="" id="userId">
<input type="hidden" value="" id="shopName">
<input type="hidden" value="1" id="currPage">
<input type="hidden" value="1" id="totalPage">
<input type="hidden" value="0" id="currOrderPage">
<input type="hidden" value="1" id="totalOrderPage">
<img 
    id="userPhoto"
    style="display: none;"
    src="" alt="" />


<div class="g-toast-instance" id="J_GlobalToastInstance" style="display: none;"></div>


<script>
var goodsInfo, userId, loginName;
IMAGE_DOMAIN = "{:WSTConf('CONF.resourceDomain')}";
$(function(){
  // 获取接口信息
  getApis(getConfig)
})
</script>
 </body>
 </html>


 

