{extend name="default/base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
<link href="__STATIC__/plugins/validator/jquery.validator.css?v={$v}" rel="stylesheet">
{/block}
{block name="main"}
<form name="editForm"  id="editForm" autocomplete="off">
    <table class='wst-form wst-box-top' style="margin-bottom: 30px;">
        <tr>
          <th width="100">{:lang('store_account_number')}<font color='red'>*</font>：</th>
          <td class="uinfo">
            <input type="hidden" id="token" value='{:WSTConf("CONF.pwdModulusKey")}'/>
            <input type='hidden' id='id' name='id' class="ipt" value='0' />
            <input id="loginName" name="loginName" class="ipt wst-regist-input" tabindex="1" maxlength="30" autocomplete="off" onpaste="return false;" style="ime-mode:disabled;" placeholder="{:lang('stores_tips2')}" data-rule='{:lang("shopUsers_tips2")}:required;'  type="text" onkeyup="javascript:WST.isChinese(this,1)"/>
          </td>
        </tr>
        <tr>
          <th>{:lang('password')}<font color='red'>*</font>：</th>
          <td class="uinfo">
            <input id="loginPwd" name="loginPwd" class="ipt wst-regist-input" tabindex="2" style="ime-mode:disabled;" autocomplete="off" type="password" placeholder="{:lang('shopUsers_tips04')}" data-rule='{:lang("please_input_a_password")}:required;'/>
          </td>
        </tr>
        <tr>
          <th>{:lang('confirm_password')}<font color='red'>*</font>：</th>
          <td class="uinfo">
            <input id="reUserPwd" name="reUserPwd" class="ipt wst-regist-input" tabindex="3" autocomplete="off" type="password" placeholder="{:lang('shopUsers_tips04')}" data-rule="{:lang('confirm_password')}: required; match(loginPwd)"/>
          </td>
        </tr>
        <tr>
          <th style="vertical-align: top;">{:lang('store_name')}<font color='red'>*</font>：</th>
          <td class="uinfo">
            <input id="storeName" name="storeName" class="ipt wst-regist-input" tabindex="3" autocomplete="off" type="text" data-rule="{:lang('store_name')}: required;"/>
            <div class="notic">{:lang('stores_tips1')}</div>
          </td>
        </tr>
        <tr>
          <th style="vertical-align: top;">{:lang('location')}<font color='red'>*</font>：</th>
          <td class="uinfo">
            <select id="areaIdPath_0" class="j-areaIdPath" data-name="areaIdPath" level="0" onchange="WST.ITAreas({id:'areaIdPath_0',val:this.value,isRequire:true,className:'j-areaIdPath'});">
                  <option value="">-{:lang('select')}-</option>
                  {php}
                  $areas = WSTTable('areas',['isShow'=>1,'dataFlag'=>1,'parentId'=>0],'areaId,areaName',100,'areaSort desc');
                  foreach($areas as $aky => $area){
                  {/php}
                  <option value="{$area['areaId']}">{$area['areaName']}</option>
                  {php}}{/php}
              </select>
               {if(WSTConf('CONF.mapKey'))}
              <button type="button" class="btn btn-primary" data-name="areaIdPath" onclick="javascript:mapCity(this)" style="top: 8px;height: 28px;line-height: 28px;font-size: 14px;font-weight: 400;"><i class="fa fa-map-marker"></i>{:lang('map_positioning')}</button>
              {/if} 
              <div class="notic">{:lang('stores_tips3')}</div>
          </td>
        </tr>
        {if(WSTConf('CONF.mapKey'))}
            <tr>
                <th>&nbsp;</th>
                <td>
                    <div id="container"  style='width:700px;height:400px'></div>
                    <input type='hidden' id='mapLevel' class='ipt'  value="15"/>
                    <input type='hidden' id='longitude' class='ipt'  value=""/>
                    <input type='hidden' id='latitude' class='ipt'  value=""/>
                </td>
            </tr>
        {/if}
        <tr>
          <th style="vertical-align: top;">{:lang('detailed_address')}<font color='red'>*</font>：</th>
          <td class="uinfo">
            <input id="storeAddress" name="storeAddress" class="ipt wst-regist-input" tabindex="3" autocomplete="off" type="text" data-rule="{:lang('detailed_address')}: required;"/>
            <div class="notic">{:lang('stores_tips4')}</div>
          </td>
        </tr>
        <tr>
          <th style="vertical-align: top;">{:lang('contact_information')}<font color='red'>*</font>：</th>
          <td class="uinfo">
            <input id="storeTel" name="storeTel" class="ipt wst-regist-input" tabindex="3" autocomplete="off" type="text" data-rule="{:lang('contact_information')}: required;"/>
            <div class="notic">{:lang('stores_tips5')}</div>
          </td>
        </tr>
        <tr>
           <th width='150'>{:lang('stores_tips6')}<font color='red'>*</font>：</th>
           <td>
            <input type='text' id='storeImg' class='ipt' value='' style="width: 500px; float: left;" />
            <div id='storeImgPicker' style='float: left; margin-top:5px;'>{:lang('upload')}</div><span id='uploadMsg'></span>
            <div id='storeImgBox' style='margin-bottom:5px; float: left; height: 30px; margin-left: 5px;'>
              <span class='weixin'>
                <img class='img' style='height:16px;width:18px;' src='__STATIC__/images/upload-common-select.png'>
                <img class='imged'  id='preview'  style='max-height:150px;max-width: 200px; border:1px solid #dadada; background:#fff' src="__RESOURCE_PATH__/{:WSTConf('CONF.goodsLogo')}">
              </span>
            </div>
           </td>
        </tr>
        <tr>
         <th>{:lang('store_status')}<font color='red'>*</font>：</th>
         <td  colspan='2' class="layui-form">
           <label>
              <input type='radio' id='storeStatus1' class='ipt' name='storeStatus' checked value='1' title='{:lang("enabled")}'>
           </label>
           <label>
              <input type='radio' id='storeStatus0' class='ipt' name='storeStatus'  value='0' title='{:lang("close")}'>
           </label>
         </td>
      </tr>
        <tr>
           <td colspan='2' class='wst-bottombar'>
              <button type="button" class="btn btn-primary btn-mright" onclick="javascript:add({$p})"><i class="fa fa-check"></i>{:lang('save')}</button>
              <button type="button" class="btn" onclick="javascript:location.href='{:Url(\'shop/stores/index\',\'p=\'.$p)}'"><i class="fa fa-angle-double-left"></i>{:lang('back')}</button>
           </td>
        </tr>
    </table>
</form>
{/block}  

{block name="js"}
<script type="text/javascript" src="__STATIC__/js/rsa.js"></script>
<script type='text/javascript' src='__STATIC__/plugins/webuploader/webuploader.js?v={$v}'></script>
<script type='text/javascript' src='__SHOP__/stores/stores.js?v={$v}'></script>
<script type="text/javascript" src="__STATIC__/plugins/validator/jquery.validator.min.js?v={$v}"></script>
<script charset="utf-8" src="{:WSTProtocol()}map.qq.com/api/js?v=2.exp&key={:WSTConf('CONF.mapKey')}"></script>
<script type="text/javascript">
if(window.conf.MAP_KEY){
    var longitude = $('#longitude').val();
    var latitude = $('#latitude').val();
    var mapLevel = $('#mapLevel').val();
    initQQMap(longitude,latitude,mapLevel);
}
</script>

{/block}