{extend name="default/base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/mmgrid/mmGrid.css?v={$v}" />
<style type="text/css">
.wst-toolbar{position: relative;}
.wst-toolbar input, .wst-toolbar select{float: none!important;}
.layui-form-checkbox[lay-skin=primary] span{margin-right: 10px;}
.statbox{position: absolute;right: 100px;bottom: 45px;}
#statOderMoney{font-size: 20px;font-weight: bold;}
label{font-weight:normal;}
</style>
{/block}
{block name="main"}
<div class='wst-toolbar layui-form'>
	<div class="statbox"><label>{:lang('stores_tips13')}： </label>{:lang('currency_symbol')}<sapn id="statOderMoney">0</sapn></div>
	<div>
		<label>{:lang('stores_tips14')}:</label>
		<input type='text' class="laydate-icon s-query" id='startDate' value=''/> <span style="line-height: 40px;">{:lang('to')}</span>
    	<input type='text' class="laydate-icon s-query" id='endDate' value=''/>
	</div>
	<div>
		<label>{:lang('order_status')}:</label>
		<input  type="checkbox" class="s-query" name="orderStatus" value="-2" lay-skin="primary" title="{:lang('to_be_paid')}">
	   	<input type="checkbox" class="s-query" name="orderStatus" value="0" lay-skin="primary" title="{:lang('waiting_for_delivery')}">
	 	<input  type="checkbox" class="s-query" name="orderStatus" value="1" lay-skin="primary" title="{:lang('delivered')}">
	 	<input  type="checkbox" class="s-query" name="orderStatus" value="2" lay-skin="primary" title="{:lang('customer_received')}">
	  	<input  type="checkbox" class="s-query" name="orderStatus" value="-1" lay-skin="primary" title="{:lang('stores_tips16')}">
	</div>
	<div>
		<label>{:lang('payment_method')}:</label>
		<input  type="checkbox" class="s-query" name="payType" value="0" lay-skin="primary" title="{:lang('cash_on_Delivery')}">
	   	<input type="checkbox" class="s-query" name="payType" value="1" lay-skin="primary" title="{:lang('online_payment')}">
	</div>
	<div>
		<label>{:lang('store_name')}:</label>
		<input type='text' id="storeName" class="s-query" id='storeName' placeholder='{:lang("account_name")}'/>
		<a class="btn btn-primary" onclick="storeSalestatistics(1)"><i class="fa fa-search"></i>{:lang("query")}</a>
	</div>
</div>

<div class='wst-grid'>
    <table class='wst-order-list'>
       <thead>
	      <tr class='head'>
	         <th class="th-padding">{:lang("order_details")}</th>
	         <th width="300">{:lang('stores_tips15')}</th>
	         <th width="115">{:lang("payment_method/delivery_information")}</th>
	         <th style="text-align: center;">{:lang("money")}</th>
	         <th width="110" style="text-align: center;">{:lang('status')}</th>
	      </tr>
	   </thead>
	   <tbody id='loadingBdy'>
	       <tr id='loading' class='empty-row' style='display:none'>
	            <td colspan='4'><img src="__SHOP__/img/loading.gif">{:lang("loading")}</td>
	       </tr>
       </tbody>
       <script id="tblist" type="text/html">
       {{# for(var i = 0; i < d.length; i++){ }}
       <tbody class="j-order-row {{#if(d[i].payType==1){}}j-warn{{#} }}">
        <tr>
           <td class='order-head'>
                  <div class='time'>{{d[i].createTime}}</div>
                  <div class='orderno'>{:lang('order_number')}：{{d[i].orderNo}}
                    {{# if(d[i].orderSrc==0){ }}<i class="order-pc"></i>
                    {{# }else if(d[i].orderSrc==1){ }}<i class="order-wx"></i>
                    {{# }else if(d[i].orderSrc==2){ }}<i class="order-mo"></i>
                    {{# }else if(d[i].orderSrc==3){ }}<i class="order-app"></i>
                    {{# }else if(d[i].orderSrc==4){ }}<i class="order-ios"></i>
                    {{# }else if(d[i].orderSrc==5){ }}<i class="order-weapp"></i>
                    {{# } }}
                    {{# if(d[i].orderCodeTitle!=""){ }}
                      <span class="order_from">{{d[i].orderCodeTitle}}</span>
                    {{# } }}
                  </div>
           </td>
           <td>{{d[i].storeName}}</td>
           <td></td>
           <td></td>
           <td><div style="text-align:center;">{{d[i].status}}</div></td>
         </tr>
         {{# 
          var tmp = null,rows = d[i]['list'].length;
          for(var j = 0; j < d[i]['list'].length; j++){
             tmp = d[i]['list'][j]; 
         }}
         <tr class='goods-box'>
            <td>
               
               <div class='goods-img'>
                <a href="{{WST.U('home/goods/detail','goodsId='+tmp.goodsId)}}" target='_blank'>
                    <span class='weixin'><img class='img gImg' title='{{tmp.goodsName}}' style='height:60;width:60;' data-original='__RESOURCE_PATH__/{{tmp.goodsImg}}'><img class='imged' style='height:200px;width:200px;max-width: 200px;max-height: 200px; background: #fff' title='{{tmp.goodsName}}' src="__RESOURCE_PATH__/{{tmp.goodsImg}}"></span>
                </a>
               </div>
               
               <div class='goods-name'>
                 <div>{{tmp.goodsName}}</div>
                 <div>{{tmp.goodsSpecNames}}</div>
               </div>
               <div class='goods-extra'>{{tmp.goodsPrice}} x {{tmp.goodsNum}}</div>
            </td>
            <td></td>
            {{# if(j==0){ }}
            <td rowspan="{{rows}}">
                <div style="text-align: center;">{{d[i].payTypeName}}</div>
                <div style="text-align: center;">{{d[i].deliverTypeName}}</div>
            </td>
            <td rowspan="{{rows}}">
                <div class='line'>{:lang('commodity_amount')}：<span style="color: red">{:lang('currency_symbol')}{{d[i].goodsMoney}}</span></div>
                <div>{:lang('amount_actually_paid')}：<span style="color: red">{:lang('currency_symbol')}{{d[i].realTotalMoney}}</span></div>
            </td>
            <td rowspan="{{rows}}" width="110">
                
            </td>
            {{#}}}
         </tr>
         {{# } }}
          {{# if(WST.blank(d[i].orderRemarks)!=''){  }}
         <tr>
          <td colspan="4">
           
               <div class="order_remaker">
               【{:lang('guest_book')}】{{d[i].orderRemarks}}
               </div>
             
          </td>
         </tr>
         {{# }  }}
         <tr class='empty-row' style="border: 0px;">
            <td colspan='4'>&nbsp;</td>
         </tr>
       </tbody>
       {{# } }}
       </script>
       <tr class='empty-row' style="border: 0px;">
            <td colspan='4' id='pager' align="center" style='padding:5px 0px 5px 0px'>&nbsp;</td>
       </tr>
    </table>
  </div>
{/block}  
{block name="js"}
<script type="text/javascript" src="__STATIC__/js/jquery.min.js?v={$v}"></script>
<script type="text/javascript" src="__STATIC__/plugins/layer/layer.js?v={$v}"></script>
<script type='text/javascript' src='__ROOT__/static/plugins/lazyload/jquery.lazyload.min.js?v={$v}'></script>
<script type='text/javascript' src='__SHOP__/stores/sale_statistics.js?v={$v}'></script>
<script>
    $(function(){
	    var laydate = layui.laydate;
	    laydate.render({
	        elem: '#startDate'
	    });
	    laydate.render({
	        elem: '#endDate'
	    });
	    storeSalestatistics();
      $('label').css('font-weight','normal');
	})
</script>
{/block}