{extend name="default/base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
<style>
.goodsCat{display:inline-block;width:150px}
.webuploader-container{float:left;}
.accreditPreview{cursor: pointer;}
.select-brand{cursor: pointer;}
.select-brand-img{margin:0 5px;}
.brand-item{margin-right:10px;}
</style>
{/block}
{block name="js"}
<script src="__STATIC__/plugins/webuploader/webuploader.js?v={$v}" type="text/javascript" ></script>
<script src="__STATIC__/plugins//kindeditor/NKeditor-all.js?v={$v}" type="text/javascript" ></script>
<script src="__SHOP__/brandapplys/brandapplys.js?v={$v}" type="text/javascript"></script>
<script>
$(function () {
	   {if condition="$object['applyId'] !=0"}
		WST.setValues({$object});
	   {/if}
		$('#brandForm').validator({
		    fields: {
		    	brandName: {
		    		tip: WST.lang('please_enter_the_brand_name'),
		    		rule: ''+ WST.lang('brand_name') +':required;length[~16];'
		    	},
		    	catIds: {
		    		tip: WST.lang('please_select_category'),
		    		rule: 'checked(1~);length[~16];'
		    	},
		    	brandImg:{
	                tip:WST.lang('please_upload_brand_image'),
	                rule:""+WST.lang('brand_image')+":required;",
		    	},
		    	brandDesc: {
		    		tip: WST.lang('please_input_the_brand_introduction'),
		    		rule: ''+WST.lang('brand_introduction')+':required;'
		    	},
		    },
		    valid: function(form){
		    	var applyId = $('#applyId').val();
		    	toEdits(applyId,{$p});
		    }
		})
});
</script>
{/block}
{block name="main"}
<input type='hidden' id='applyId' value='{$object["applyId"]}'/>
<input type='hidden' id='brandId' name='brandId' class='ipt' value='{$object["brandId"]}'/>
<input type="hidden" id="type" value="new"/>
<div class="l-loading" style="display: block" id="wst-loading"></div>
<form id="brandForm" autocomplete="off">
<table class='wst-form wst-box-top'>
    <tr >
        <th width='150'>{:lang('brand_name')}<font color='red'>*</font>：</th>
        <td><input type="text" id='brandName' name='brandName' value="{$object['brandName']}" maxLength='20' style='width:300px;' class='ipt' /></td>
    </tr>
   <tr>
     <th width='150' align='right'>{:lang('classification')}<font color='red'>*</font>：</th>
     <td>
     {volist name="gcatList" id="vo"}
	     <label class='goodsCat'>
	     <input type='checkbox' id='catIds' name='catIds' class="ipt goods-cat" value='{$vo["catId"]}'
       {if condition="$object['applyId'] !=0 "}
       {if in_array($vo["catId"],$object['catIds'])==1}checked{/if}
       {/if}
       >&nbsp;{$vo["catName"]}&nbsp;
	     </label>
	 {/volist}
     </td>
   </tr>
   <tr width='150'>
     <th align='right'>{:lang('brand_icon')}<font color='red'>*</font>：</th>
     <td>
     	   <input id="brandImg" name="brandImg" class="text ipt" data-target='#msg_brandImg' autocomplete="off" type="text" readonly="readonly" value="{$object.brandImg}" data-rule="{:lang('brand_icon')}: required;" style="float: left;width: 250px;margin:0;"/>
    	   <div id="filePicker">{:lang('upload')}</div>
     	    <span style='margin-left:5px;float:left;line-height: 30px;'>{:lang('brand_tips')}</span>
          <span class='msg-box' id='msg_brandImg'></span>
     	    <div id="preview" style="float: left;margin-left: 5px;">
            {if $object['applyId']!=0}
            <img src="__RESOURCE_PATH__/{$object['brandImg']}" class="ipt" height='30'/>
            {/if}
        </div>
     </td>
   </tr>
   <tr>
       <th width='150'>{:lang('brand_introduction')}<font color='red'>*</font>：</th>
       <td>
       	<textarea id='brandDesc' name='brandDesc' class="form-control ipt" style='width:80%;height:400px'></textarea>
       </td>
    </tr>
    <tr {if $object['applyStatus']!=-1}style='display:none'{/if}>
    <th>{:lang('reasons_for_failure')}：</th>
    <td>
        <textarea id='applyDesc' class='ipt' style='width:500px;height:100px;margin-top:10px;' maxLength='100' readonly >{$object['applyDesc']}</textarea>
    </td>
    </tr>
     <tr>
       <td colspan='2' align='center'>
           {if $object['applyStatus']==0}
           <button type="submit" class="btn btn-primary btn-mright"><i class="fa fa-check"></i>{:lang('save')}</button>
           {/if}
           <button type="button" class="btn" onclick="javascript:location.href='{:Url(\'shop/brandapplys/index\',\'p=\'.$p.\'&type=\'.$type)}'"><i class="fa fa-angle-double-left"></i>{:lang('back')}</button>
       </td>
     </tr>
</table>
 </form>
 <script>
$(function(){
    layer.photos({
        photos: '.accreditPreview',
        area: ['50%','auto']
    });
    //文件上传
	WST.upload({
  	  pick:'#filePicker',
  	  formData: {dir:'brands',mWidth:500,mHeight:250},
  	  accept: {extensions: 'gif,jpg,jpeg,png',mimeTypes: 'image/jpg,image/jpeg,image/png,image/gif'},
  	  callback:function(f){
  		  var json = WST.toJson(f);
  		  if(json.status==1){
        	$('#preview').html('<img src="'+WST.conf.RESOURCE_PATH+"/"+json.savePath+json.thumb+'" height="30" />');
        	$('#brandImg').val(json.savePath+json.thumb);
  		  }
	  }
    });

  //编辑器
    KindEditor.ready(function(K) {
		editor1 = K.create('textarea[name="brandDesc"]', {
			height:'350px',
			uploadJson : WST.conf.ROOT+'/shop/brandapplys/editorUpload',
			allowFileManager : false,
			themeType : "default",
      items:[     'source', 'undo', 'redo',  'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall',  'fullscreen',
                'formatblock', 'fontname', 'fontsize',  'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', 'image','multiimage','media','table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                'anchor', 'link', 'unlink'
      ],
			afterBlur: function(){ this.sync(); }
		});
	});
});
</script>
{/block}