{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/supplierordercomplains/ordercomplains.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div id="wst-tabs" style="width:100%; height:99%;overflow: hidden; border: 1px solid #D3D3d3;" class="liger-tab">
   <div id="wst-tab-1" tabId="wst-tab-1"  title="{:lang('label_ordercomplains_view')}" class='wst-tab'  style="height: 100%"> 
   <div style="margin:10px">
    <!-- 投诉信息 -->
    <div class='order-box'>
      <table class='wst-form'>
         <tr>
          <td class='head-ititle'>{:lang('label_ordercomplains_info')}</td>
         </tr>
         <tr>
          <th>{:lang('label_ordercomplains_order_no')}：</th>
           <td>{$object['orderNo']}</td>
         </tr>
         <tr>
          <th>{:lang('label_ordercomplains_user')}：</th>
           <td>{$order['userName']}</td>
         </tr>
         <tr>
          <th>{:lang('label_ordercomplains_type')}：</th>
            <td>
              {php}$reason = WSTDatas('ORDER_COMPLAINT',$order['complainType']);{/php}
              {$reason['dataName']}
            </td>
         </tr>
        
         <tr>
          <th>{:lang('label_ordercomplains_content')}：</th>
          <td class='line-break'>{$order['complainContent']}</td>
       </tr>
       <tr>
          <th>{:lang('label_ordercomplains_annex')}：</th>
          <td>
            <td>
              <div id="complainAnnex">
              {if !empty($order['complainAnnex'])}
              {volist name="$order['complainAnnex']" id="img"}
              <img src="__RESOURCE_PATH__/{$img}" layer-src="__RESOURCE_PATH__/{:str_replace('_thumb.','.',$img)}" width="50" />
              {/volist}
              {/if}
              </div>
            </td>
         </tr>

         <tr>
            <th>{:lang('label_ordercomplains_time')}：</th>
            <td>{$order['complainTime']}</td>
         </tr>
      </table>
   </div>

   <!-- 应诉信息 -->
   <div class='order-box'>
      <table class='wst-form'>
        <tr>
          <td class='head-ititle'>{:lang('label_ordercomplains_reply_info')}</td>
         </tr>
         <tr>
          <th width='100'>{:lang('label_ordercomplains_reply_move_time')}：</th>
           <td>{$order['deliverRespondTime']}</td>
         </tr>
         <tr>
          <th>{:lang('label_ordercomplains_reply_user')}：</th>
           <td>{$order['order']['supplierName']}</td>
         </tr>
         <tr>
          <th>{:lang('label_ordercomplains_reply_user')}：</th>
           <td class='line-break'>{$order['respondContent']}</td>
         </tr>
         <tr>
          <th>{:lang('label_ordercomplains_annex')}：</th>
              <td>
               <div id="respondAnnex">
                  {if !empty($order['respondAnnex'])}
                  {volist name="$order['respondAnnex']" id="img"}
                  <img src="__RESOURCE_PATH__/{$img}" layer-src="__RESOURCE_PATH__/{:str_replace('_thumb.','.',$img)}" width="50" />
                  {/volist}
                  {/if}
                </div>
              </td>
          </tr>

         <tr>
          <th>{:lang('label_ordercomplains_reply_time')}：</th>
          <td>
           {$order['respondTime']}
          </td>
        </tr>
        
      </table>
   </div>


   <!-- 仲裁结果 -->
   <div class='order-box'>
      <table class='wst-form'>
         <tr>
          <td class='head-ititle'>{:lang('label_ordercomplains_result_info')}</td>
         </tr>
         <tr>
          <th>{:lang('label_ordercomplains_handle_status')}：</th>
          <td>
            {if condition="$order['complainStatus'] eq 0"}
                                        {:lang('label_ordercomplains_handle_status0')}
            {elseif condition="$order['complainStatus'] eq 1"/}
                                        {:lang('label_ordercomplains_handle_status11')}
            {elseif condition="$order['complainStatus'] eq 2"/}
                                        {:lang('label_ordercomplains_handle_status2')}
            {elseif condition="$order['complainStatus'] eq 3"/}
                                        {:lang('label_ordercomplains_handle_status3')}
            {elseif condition="$order['complainStatus'] eq 4"/}
                                        {:lang('label_ordercomplains_handle_status4')}                          
            {/if}
          </td>
       </tr>
       <tr>
          <td align='right' valign='right' width='120'>{:lang('label_ordercomplains_result_order_status')}：</td>
          <td>
              {:WSTLangOrderStatus($order['order']['orderStatus'])}
          </td>
       </tr>
       <tr>
        <th>{:lang('label_ordercomplains_result_info')}：</th>
          <td class='line-break'>
           {$order['finalResult']}
          </td>
       </tr>
       <th>{:lang('label_ordercomplains_result_time')}：</th>
          <td>
           {$order['finalResultTime']}
          </td>
       </tr>
      
      {if $from == 0}
      <tr>
         <td colspan='2' align='center'>
         	<button type="button"  onclick="javascript:location.href='{:Url(\'admin/ordercomplains/index\',\'p=\'.$p)}'"class='btn'><i class="fa fa-angle-double-left"></i>{:lang('back')}</button>
         </td>
      </tr>
      {/if}
        
      </table>
   </div>
  </div>
</div>




































   <div title="{:lang('label_ordercomplains_order_view')}" class='wst-tab' id="order-detail"  style="height: 99%"> 
      <div style='margin:10px;'>
  <div class='order-box'>
    <div class='box-head'>{:lang('label_order_log_title')}</div>
    {if in_array($object['orderStatus'],[-2,0,1,2])}
  <div class='log-box'>
<div class="state">
{if $object['payType']==1}
<div class="icon">
  <span class="icons {if condition="($object['orderStatus']==-2)OR($object['orderStatus']==0)OR($object['orderStatus']==1)OR($object['orderStatus']==2)"}icon12 {else}icon11 {/if}{if condition="($object['orderStatus']==-2)"}icon13 {/if}"></span>
</div>
<div class="arrow {if condition="($object['orderStatus']==0) OR ($object['orderStatus']==1) OR ($object['orderStatus']==2)"}arrow2{/if}">··················></div>
  <div class="icon"><span class="icons {if condition="($object['orderStatus']==0)OR($object['orderStatus']==1)OR($object['orderStatus']==2)"}icon22 {else}icon21{/if}{if condition="($object['orderStatus']==0)"}icon23 {/if}"></span></div>
  <div class="arrow {if condition="($object['orderStatus']==1) OR ($object['orderStatus']==2)"}arrow2{/if}">··················></div>
{else}
<div class="icon">
  <span class="icons {if condition="($object['orderStatus']==-2)OR($object['orderStatus']==0)OR($object['orderStatus']==1)OR($object['orderStatus']==2)"}icon12 {else}icon11 {/if}{if condition="($object['orderStatus']==0)"}icon13 {/if}"></span>
</div>
<div class="arrow {if condition="($object['orderStatus']==1) OR ($object['orderStatus']==2)"}arrow2{/if}">··················></div>
{/if}
<div class="icon">
  <span class="icons {if condition="($object['orderStatus']==1)OR($object['orderStatus']==2)OR($object['orderStatus']==1)"}icon32 {else}icon31 {/if}{if condition="($object['orderStatus']==1)"}icon33 {/if}"></span>
</div>
<div class="arrow {if condition="($object['orderStatus']==2)"}arrow2{/if}">··················></div>
<div class="icon"><span class="icons  {if condition="($object['orderStatus']==2)AND($object['isAppraise']==1)"}icon42 {else}icon41 {/if}{if condition="($object['orderStatus']==2)AND($object['isAppraise']==2)"}icon43 {/if}"></span></div>
<div class="arrow {if condition="($object['isAppraise']==1)"}arrow2{/if}">··················></div>
<div class="icon"><span class="icons {if condition="($object['isAppraise']==1)"}icon53 {else}icon51 {/if}"></span></div>
</div>
   <div class="state2">
   <div class="path">
   {volist name="$object['log']" id="lo"}
    <span>{:WSTLogJson($lo['logJson'])}<br/>{$lo['logTime']}</span>
   {/volist}
   </div>
   <p>{:lang('place_an_order')}</p>{if $object['payType']==1}<p>{:lang('waiting_for_payment')}</p>{/if}<p>{:lang('merchant_delivery')}</p><p>{:lang('confirm_receipt')}</p><p>{:lang('end_of_order')}<br/>{:lang('mutual_evaluation')}</p>
   </div>
   <div class="wst-clear"></div>
   </div>
    {else}
        <div>
          <table class='log'>
            {volist name='$object["log"]' id='vo'}
             <tr>
               <td>{$vo['logTime']}</td>
               <td>{:WSTLogJson($vo['logJson'])}</td>
             </tr>
            {/volist}
          </table>
        </div>                 
    {/if}
   </div>
   <!-- 订单信息 -->
   <div class='order-box'>
      <div class='box-head'>{:lang('order_information')}</div>
      <table class='wst-form'>
         <tr>
           <th width='100'>{:lang("order_number")}：</th>
           <td>{$object['orderNo']}</td>
         </tr>
         <tr>
           <th>{:lang('payment_method')}：</th>
           <td>{:WSTLangPayType($object['payType'])}</td>
         </tr>
         {if($object['payType']==1)}
         <tr>
           <th>{:lang('transaction_flow')}：</th>
           <td>【{:WSTLangPayFrom($object['payFrom'])}】{$object['tradeNo']}</td>
         </tr>
         {/if}
         <tr>
            <th>{:lang('delivery_mode')}：</th>
            <td>{:WSTLangDeliverType($object['deliverType'])}</td>
         </tr>
         <tr>
            <th>{:lang('buyer_message')}：</th>
            <td>{$object['orderRemarks']}</td>
         </tr>
      </table>
   </div>
   {:hook('supplierAdminDocumentOrderView',['orderId'=>$object['orderId']])}
   <!-- 发票信息 -->
    <div class='order-box'>
      <div class='box-head'>{:lang('invoice_information')}</div>
      <table class='wst-form'>
        <tr>
          <th width='100'>{:lang('do_you_need_an_invoice')}：</th>
          <td>{if $object['isInvoice']==1}{:lang('need')}{else}{:lang('no_need')}{/if}</td>
        </tr>
        <tr>
          <th>{:lang('invoice_title')}：</th>
          <td>{$object['invoiceClient']}</td>
        </tr>
      </table>
    </div>
    <!-- 收货人信息 -->
    <div class='order-box'>
        <div class='box-head'>{:lang('consignee_information')}</div>
        <table class='wst-form'>
          <tr>
            <th width='100'>{:lang("consignee")}：</th>
            <td>{$object['userName']}</td>
          </tr>
          <tr>
            <th>{:lang("receiving_address")}：</th>
            <td>{$object['userAddress']}</td>
          </tr>
          <tr>
              <th>{:lang("contact_information")}：</th>
              <td>{$object['userPhone']}</td>
          </tr>
        </table>
    </div>
   <!-- 商品信息 -->
   <div class='order-box'>
        <div class='box-head'>{:lang('commodity_list')}</div>
        <div class='goods-head'>
          <div class='goods'>{:lang('goods')}</div>
          <div class='number'>{:lang('goods_number')}</div>
          <div class='price'>{:lang('unit_Price')}</div>
          <div class='num'>{:lang('number')}</div>
          <div class='t-price'>{:lang('total_price')}</div>
        </div>
       <div class='goods-item'>
          <div class='supplier'>
          {$object['supplierName']}
          
          </div>
          <div class='goods-list'>
             {volist name='$object["goods"]' id='vo2'}
             <div class='item j-g{$vo2['goodsId']}'>
            <div class='goods'>
                <div class='img'>
                    <a href='{:Url("home/goods/detail","goodsId=".$vo2["goodsId"])}' target='_blank'>
                  <img src='__RESOURCE_PATH__/{$vo2["goodsImg"]}' width='80' height='80' title='{$vo2["goodsName"]|WSTStripTags}'/>
                  </a>
                </div>
                <div class='name'>{$vo2["goodsName"]}</div>
                <div class='spec'>{:str_replace('@@_@@','<br/>',$vo2["goodsSpecNames"])}</div>
            </div>
            <div class='price'>{:lang('currency_symbol')}{$vo2['goodsPrice']}</div>
            <div class='num'>{$vo2['goodsNum']}</div>
            <div class='t-price'>{:lang('currency_symbol')}{$vo2['goodsPrice']*$vo2['goodsNum']}</div>
            <div class='f-clear'></div>
             </div>
             {/volist}
          </div>
       </div>
       <div class='goods-footer'>
          <div class='goods-summary' style='text-align:right'>
            <div class='summary'>{:lang('total_amount_of_goods')}：{:lang('currency_symbol')}<span>{$object['goodsMoney']}</span></div>
            <div class='summary'>{:lang('freight')}：{:lang('currency_symbol')}<span>{$object['deliverMoney']}</span></div>
            <div class='summary'>{:lang('total_amount_payable')}：{:lang('currency_symbol')}<span>{$object['totalMoney']}</span></div>
            <div class='summary'>{:lang('total_amount_paid')}：{:lang('currency_symbol')}<span>{$object['realTotalMoney']}</span></div>
          </div>
       </div>
   </div>
   {if $from == 0}
   <div class='wst-footer'><button type="button" onclick='javascript:history.go(-1)' class='btn'><i class="fa fa-angle-double-left"></i>{:lang('back')}</button></div>
   {/if}
<div>
   </div>


</div>
<script>
$(function(){
  parent.showImg({photos: $('#respondAnnex')});
  parent.showImg({photos: $('#complainAnnex')});
});
</script>
{/block}