{extend name="default/base" /}
{block name="main"}
  <div class='wst-toolbar'>
      <input type='text' class="s-ipt" id='orderNo' placeholder="{:lang('label_order_no')}"/>
      <select name="payType" id="payType" class="s-ipt">
          <option value="-1">{:lang('label_pay_type')}</option>
          <option value="0">{:lang('pay_type1')}</option>
          <option value="1">{:lang('pay_type2')}</option>
      </select>

      <select name="deliverType" id="deliverType" class="s-ipt">
          <option value="-1">{:lang('label_deliver_type')}</option>
          <option value="0">{:lang('deliver_type1')}</option>
          <option value="1">{:lang('deliver_type2')}</option>
      </select>

     <a class="btn btn-primary" onclick="finisedByPage()"><i class="fa fa-search"></i>{:lang('query')}</a>
     <a class="btn btn-primary" style="float:right;" onclick="javascript:toExport(2,2,'')"><i class="fa fa-sign-out"></i>{:lang('export')}</a>
  </div>
  <div class='wst-grid'>
    <table class='wst-order-list'>
       <thead>
	      <tr class='head'>
              <th class="th-padding">{:lang('label_order_detail')}</th>
              <th width="205" style="text-align: center;">{:lang('label_pay_delivery_info')}</th>
              <th style="text-align: center;">{:lang('label_money')}</th>
              <th width="150" style="text-align: center;">{:lang('op')}</th>
	      </tr>
	   </thead>
	   <tbody id='loadingBdy'>
	       <tr id='loading' class='empty-row' style='display:none'>
	            <td colspan='4'><img src="__SUPPLIER__/img/loading.gif">{:lang('getting_data')}</td>
	       </tr>
     </tbody>
       <script id="tblist" type="text/html">
       {{# for(var i = 0; i < d.length; i++){ }}
       <tbody class="j-order-row {{#if(d[i].isAppraise==0){}}j-warn{{#} }}">
         <tr>
           <td class='order-head'>
                  <div class='time'>{{d[i].createTime}}</div>
                  <div class='orderno'>{{ WST.lang('label_order_no') }}：{{d[i].orderNo}}
                  </div>
           </td>
           <td></td>
           <td></td>
           <td><div style="text-align:center;">{{d[i].status}}</div></td>
         </tr>
         {{#
          var tmp = null,rows = d[i]['list'].length;
          for(var j = 0; j < d[i]['list'].length; j++){
             tmp = d[i]['list'][j];
         }}
         <tr class='goods-box'>
            <td>
               <div class='goods-img'>
                <a href="{{WST.U('supplier/goods/detail','goodsId='+tmp.goodsId)}}" target='_blank'>
                    <span class='weixin'><img class='img gImg' title='{{tmp.goodsName}}' style='height:40px;width:40px;' data-original='__RESOURCE_PATH__/{{tmp.goodsImg}}'><img class='imged' style='height:200px;width:200px;max-width: 200px;max-height: 200px;border: 1px solid #f1f1f1;background: #fff;' title='{{tmp.goodsName}}' src="__RESOURCE_PATH__/{{tmp.goodsImg}}"></span>
                </a>
               </div>
               <div class='goods-name'>
                 <div>{{tmp.goodsName}}</div>
                 <div>{{tmp.goodsSpecNames}}</div>
               </div>
               <div class='goods-extra'>{{tmp.goodsPrice}} x {{tmp.goodsNum}}</div>
            </td>
            {{# if(j==0){ }}
            <td rowspan="{{rows}}">
                <div style="text-align: center;">{{d[i].payTypeName}}</div>
                <div style="text-align: center;">{{d[i].deliverTypeName}}</div>
            </td>
            <td rowspan="{{rows}}">
                <div>{{ WST.lang('label_goods_money') }}：<span style="color: red">{:lang('currency_symbol')}{{d[i].goodsMoney}}</span></div>
                <div class='line'>{{ WST.lang('label_deliver_money') }}：<span style="color: red">{:lang('currency_symbol')}{{d[i].deliverMoney}}</span></div>
                <div>{{ WST.lang('label_real_total_money') }}：<span style="color: red">{:lang('currency_symbol')}{{d[i].realTotalMoney}}</span></div>
            </td>
            <td rowspan="{{rows}}">
				{{#if(d[i].isAppraise==1){}}
				<div style="text-align:center;">{{ WST.lang('yes_appraise') }}</div>
				{{#}else{}}
				<div style="text-align:center;">{{ WST.lang('no_appraise') }}</div>
				{{#}}}
         <div style="text-align:center;"><a target='blank' href='{{WST.U("supplier/orders/orderPrint","id="+d[i].orderId)}}'>【{{ WST.lang('print_order') }}】</a></div>
         <div style="text-align:center;"><a href='#none' onclick="view({{d[i].orderId}},'finished')">【{{ WST.lang('label_order_detail') }}】</a></div>
            </td>
            {{#}}}
         </tr>
         {{# } }}
         {{# if(WST.blank(d[i].orderRemarks)!=''){  }}
         <tr>
             <td colspan="4">

                 <div class="order_remaker">
                     【{{ WST.lang('order_remark') }}】{{d[i].orderRemarks}}
                 </div>

             </td>
         </tr>
         {{# }  }}
         <tr class='empty-row' style="border: 0px;">
             <td colspan='4'>&nbsp;</td>
         </tr>
       </tbody>
       {{# } }}
       </script>
       <tr class='empty-row' style="border: 0px;">
            <td colspan='4' id='pager' align="center" style='padding:5px 0px 5px 0px'>&nbsp;</td>
       </tr>
    </table>
  </div>
{/block}
{block name="js"}
<script type="text/javascript" src="__STATIC__/js/jquery.min.js?v={$v}"></script>
<script type="text/javascript" src="__STATIC__/plugins/layer/layer.js?v={$v}"></script>
<script type='text/javascript' src='__ROOT__/static/plugins/lazyload/jquery.lazyload.min.js?v={$v}'></script>
<script type='text/javascript' src='__SUPPLIER__/orders/orders.js?v={$v}'></script>
<script>
$(function(){
	finisedByPage({$p});
})
</script>
{/block}
