{extend name="default/base" /}
{block name="title"}{:lang('login')} - {__block__}{/block}
{block name="css"}
<link rel="stylesheet"  href="__MOBILE__/css/user.css?v={$v}">
<link rel="stylesheet"  href="__STATIC__/plugins/layer/layer.js?v={$v}">
<style>body{background:#fff}</style>
{/block}
{block name="header"}
		{php}$mobileLoginTypeArr = explode(',',WSTConf('CONF.mobileLoginType'));{/php}
       <header class="ui-header ui-header-positive wst-header">
	    <i class="ui-icon-return" onclick="history.back()"></i>
	    <h1>{:lang('login')}</h1>
    </header>
{/block}
{block name="footer"}
		{/* 大加载 */}
		<div class="ui-loading-block" id="Loadl">
		    <div class="ui-loading-cnt">
		        <i class="ui-loading-bright"></i>
		        <p id="j-Loadl">{:lang('loading_tips')}</p>
		    </div>
		</div>
{/block}
{block name="main"}
      {/* 登录页面 */}
      <input type="hidden" value="{:WSTConf('CONF.pwdModulusKey')}" id="key" autocomplete="off">
		{if in_array(2,$mobileLoginTypeArr) && $type==2}
      <section class="ui-container" id="login2">
      	 <div class="wst-lo-frame">
      	 	<div style='margin:0px auto;text-align:center;margin-top:0.16rem'>
      	    <img style='width:1.2rem;height:0.6rem;' src='__RESOURCE_PATH__/{:WSTConf('CONF.mallLogo')}'/>
            </div>
			<div class="frame">{:lang('phone_number')}<br/>
			{php}$areaCode = WSTAareCodes()[0];{/php}
			<span id="area_code" onclick="WST.showAreacodeBox()">{$areaCode}</span>
			<input id="areaCode" type="hidden" value="{$areaCode}">
			<input id="regName" type="number" placeholder="{:lang('phone_number')}" maxlength="11" autocomplete="false" style="width:80%"></div>
			{if(WSTConf('CONF.smsVerfy')==1)}
			{if (int)WSTConf('CONF.isAddonCaptcha')!=1}
			<div class="verify phone"><div>{:lang('graphic_verifycode')}</div>
				<input id="smsVerfy" type="text" placeholder="{:lang('verify_require')}" maxlength="6">
				<img id='verifyImg3' src="{:url('mobile/users/getVerify')}" onclick='javascript:WST.getVerify("#verifyImg3")'>
			</div>
			{/if}
			{/if}
			<div class="verify phone"><div>{:lang('sms_verification_code')}</div>
				<input id="phoneCode" type="text" placeholder="{:lang('require_mobile_verifycode')}" maxlength="8">
				{if (int)WSTConf('CONF.isAddonCaptcha')!=1}
				<a class="send" href="javascript:obtainCode(2)">{:lang('press_get_check_code')}</a>
				{else}
				{:hook('mobileDocumentLoginSmsCaptcha')}
				{/if}
			</div>
    	</div>
    	<div class="wst-lo-button">
			<button id="loginButton2" class="button" onclick="javascript:login2();">{:lang('login')}</button>
		</div>
		<ul class="ui-row wst-lo-term">
		    <li class="ui-col ui-col-50">
		    	{php}if(in_array(1,$mobileLoginTypeArr)){{/php}<a href="{:url('mobile/users/login')}" class="term">{:lang('account_login')}</a>{php}}{/php}&nbsp;
		    </li>
		    <li class="ui-col ui-col-50" style="text-align:right;"><a href="{:url('mobile/users/toRegister')}" class="term">{:lang('regist_new_account')}</a></li>
	    </ul>
      </section>
	  {/if}
	  {if in_array(1,$mobileLoginTypeArr) && $type==1}
      <section class="ui-container" id="login1">
      	 <div class="wst-lo-frame">
      	 	<div style='margin:0px auto;text-align:center;margin-top:0.16rem'>
      	    <img style='width:1.2rem;height:0.6rem;' src='__RESOURCE_PATH__/{:WSTConf('CONF.mallLogo')}'/>
            </div>
			<div class="frame">{:lang('account_number')}<input id="loginName" type="text" placeholder="{:lang('loginname_placeholder')}"></div>
			<div class="frame"><div>{:lang('password')}</div><input id="loginPwd" type="password" placeholder="{:lang('password_require')}" style='width:50%'><a href="javascript:;" onclick="javascript:location.href=WST.U('mobile/users/forgetpass','loginName='+$('#loginName').val())" style='float: right;color:#666666;line-height: 0.40rem;'>{:lang('forget_password')}</a></div>
			<div class="verify"><div>{:lang('graphic_verifycode')}</div>
				<input id="loginVerfy" type="text" placeholder="{:lang('verify_require')}" maxlength="10">
				<img id='verifyImg1' src="{:url('mobile/users/getVerify')}" onclick='javascript:WST.getVerify("#verifyImg1")'>
			</div>
    	</div>
    	<div class="wst-lo-button">
			<button id="loginButton" class="button" onclick="javascript:login();">{:lang('login')}</button>
		</div>
		<ul class="ui-row wst-lo-term">
		    <li class="ui-col ui-col-50">
		    	{php}if(in_array(2,$mobileLoginTypeArr)){{/php}<a href="{:url('mobile/users/login','logintype=2')}" class="term">{:lang('phone_login')}</a>{php}}{/php}&nbsp;
		    </li>
		    <li class="ui-col ui-col-50" style="text-align:right;"><a href="{:url('mobile/users/toRegister')}" class="term">{:lang('regist_new_account')}</a></li>
	    </ul>
      </section>
      {/if}
      {:hook('mobileDocumentLogin')}
      {/* 登录页面end */}

    {/* 遮盖层  */}
	<div class="wst-cover" id="cover2"></div>
	{/* 取消订单  */}
	<div class="wst-areacode-box" id="areacodeBox">
	    <input type="hidden" id="reason">
	    <div class="title">{:lang('phone_area_code')}</div>
	    <div class="desc"></div>
	    <div class="content">
	        {volist name=":WSTAareCodes()" id="vo"}
	        <label class="ui-checkbox">
		        <div class="wst-flex-row wst-jsb wst-ac item">
		            <div class="name">{$vo}</div>
		          	<input class="active" type="radio" name="data" value='{$vo}' {$key==0?'checked':''}>
		        </div>
	        </label>
	        {/volist}
	    </div>
	    <div class="bottom-two-btn-box wst-flex-row wst-center">
	        <button id="wst-event1" type="button" class="wst-dialog-b1" data-role="button" onclick="javascript:WST.hideCancelBox();">{:lang('cancel')}</button>
	        <button id="wst-event0" type="button" class="wst-dialog-b2" onclick="javascript:WST.checkAreaCode();">{:lang('confirm')}</button>
	    </div>
	</div>
{/block}
{block name="js"}
<script type='text/javascript' src='__MOBILE__/js/jquery.min.js'></script>
<script type="text/javascript" src="__STATIC__/js/rsa.js"></script>
<script type='text/javascript' src='__MOBILE__/js/login.js?v={$v}'></script>
<script type="text/javascript">
	function pageSwitch(obj,type){
	$(obj).addClass('active').siblings('.ui-tab-nav li.switch').removeClass('active');
	$('#login'+type).show().siblings('section.ui-container').hide();
}
</script>
{/block}