{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/mmgrid/mmGrid.css?v={$v}" />
{/block}
{block name="js"}
<script src="__STATIC__/plugins/mmgrid/mmGrid.js?v={$v}" type="text/javascript"></script>
<script src="__STATIC__/plugins//kindeditor/NKeditor-all.js?v={$v}" type="text/javascript" ></script>
<script src="__ADMIN__/articles/agreement.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<input type='hidden' id='articleId' class='ipt' value='{$object["articleId"]}'/>
<form id='articleForm' autocomplete="off">
<div class="layui-tab layui-tab-brief" lay-filter="msgTab">
	<ul class="layui-tab-title">
	    {volist name=":WSTSysLangs()" id='vo'}
	    <li {if $key==0}class="layui-this"{/if}>{$vo['name']}</li>
	    {/volist}
	</ul>
	<div class="layui-tab-content">
	    {volist name=":WSTSysLangs()" id='vo'}
	    <div class="layui-tab-item {if $key==0}layui-show{/if}">
		<table class='wst-form wst-box-top '>
		   <tr>
		       <td align='center'>{:lang('label_article_user_proto')}</th>
		   </tr>
		       <td align='center'>
		       	{if WSTGrant('YHRZXY_00')} 
		       	<textarea id='langParams{$vo["id"]}articleContent' name='langParams{$vo["id"]}articleContent' class="form-control ipt" style='width:80%;'>{$object['langParams'][$vo['id']]['articleContent']}</textarea>
		       	{else}
		       	<div style='width:80%;text-align:left;'>
                {$object['langParams'][$vo['id']]['articleContent']|htmlspecialchars_decode}
                <div>
		       	{/if}
		       </td>
		    </tr>
		    {if WSTGrant('YHRZXY_02')}
		    <tr>
		       <td align='center'>
		       	<button type="button" class="btn btn-primary btn-mright" onclick="javascript:saveAgreement()"><i class="fa fa-check"></i>{:lang('submit')}</button> 
		        <button type="button" class="btn" onclick="javascript:clearHtml()"><i class="fa fa-refresh"></i>{:lang('clear')}</button>
		       </td>
		    </tr>
		    {/if}
		</table>
		</div>
		{/volist}
	</div>
</div>
{if WSTGrant('YHRZXY_02')} 
<script>
var editor1 = null;
$(function(){
  //编辑器
    KindEditor.ready(function(K) {
        {volist name=":WSTSysLangs()" id='vo'}
		K.create('#langParams{$vo['id']}articleContent', {
			height:'600px',
            uploadJson : WST.conf.ROOT+'/admin/articles/editorUpload',
			allowFileManager : false,
			allowImageUpload : true,
            themeType : "default",
		    items:[     'source', 'undo', 'redo',  'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
		                'plainpaste', 'wordpaste', 'justifyleft', 'justifycenter', 'justifyright',
		                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
		                'superscript', 'clearhtml', 'quickformat', 'selectall',  'fullscreen',
		                'formatblock', 'fontname', 'fontsize',  'forecolor', 'hilitecolor', 'bold',
		                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', 'image','multiimage','media','table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
		                'anchor', 'link', 'unlink'
		    ],
			afterBlur: function(){ this.sync(); }
		});
		{/volist}
	});
});
function clearHtml(){
    editor1.html("");
}
</script>
{/if}
{/block}