<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>{:lang('supplier_center')} - {:WSTConf('CONF.mallName')}</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="__STATIC__/plugins/bootstrap/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="__STATIC__/plugins/layui/css/layui.css" type="text/css" />
<link rel="stylesheet" href="__STATIC__/plugins/font-awesome/css/font-awesome.min.css" type="text/css" />
<script src="__SUPPLIER__/js/jquery.min.js"></script>
<script type='text/javascript' src=__ROOT__/runtime/js/supplier/default/lang-{$lang}.js?v={$v}'></script>
<script type="text/javascript" src="__STATIC__/plugins/layer/layer.js?v={$v}"></script>
{block name="css"}{/block}
<link href="__SUPPLIER__/css/common.css?v={$v}" rel="stylesheet" type="text/css" />
{php}
$msgGrant = [];
if(WSTSupplierGrant('supplier/messages/supplierMessage'))$msgGrant[] = 'message';
if(WSTSupplierGrant('supplier/orders/waitdelivery'))$msgGrant[] = 'supplierorder515';
if(WSTSupplierGrant('supplier/orders/waituserPay'))$msgGrant[] = 'supplierorder514';
if(WSTSupplierGrant('supplier/orders/failure'))$msgGrant[] = 'supplierorder541';
if(WSTSupplierGrant('supplier/ordercomplains/supplierComplain'))$msgGrant[] = 'supplierorder542';
if(WSTSupplierGrant('supplier/goods/stockWarnByPage'))$msgGrant[] = 'supplierorder524';
{/php}
<script>
window.conf = {"DOMAIN":"{:str_replace('index.php','',$Request.root.true)}","ROOT":"__ROOT__","APP":"__APP__","STATIC":"__STATIC__","SUFFIX":"{:config('url_html_suffix')}","GOODS_LOGO":"{:WSTConf('CONF.goodsLogo')}","SUPPLIER_LOGO":"{:WSTConf('CONF.supplierLogo')}","MALL_LOGO":"{:WSTConf('CONF.mallLogo')}","USER_LOGO":"{:WSTConf('CONF.userLogo')}",'GRANT':'',"IS_CRYPT":"{:WSTConf('CONF.isCryptPwd')}","ROUTES":'{:WSTRoute()}',"MAP_KEY":"{:WSTConf('CONF.mapKey')}","__HTTP__":"{:WSTProtocol()}",'RESOURCE_PATH':'{:WSTConf('CONF.resourcePath')}',"SMS_VERFY":"{:WSTConf('CONF.smsVerfy')}",'TIME_TASK':1,"MESSAGE_BOX":"{:WSTSupplierMessageBox()}",MSG_SUPPLIER_GRANT:'{:implode(',',$msgGrant)}',sysLang:'{$lang}',sysLangs:{:json_encode(WSTConf('CONF.sysLangs'))}}
</script>
<script language="javascript" type="text/javascript" src="__STATIC__/js/common.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div id="j-loader"><img src="__SUPPLIER__/img/ajax-loader.gif"/></div>
{block name="main"}{/block}
<script src="__STATIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
<script language="javascript" type="text/javascript" src="__STATIC__/plugins/layui/layui.all.js"></script>
<script language="javascript" type="text/javascript" src="__SUPPLIER__/js/common.js"></script>
<script type="text/javascript" src="__STATIC__/plugins/lazyload/jquery.lazyload.min.js?v={$v}"></script>
{block name="js"}{/block}
{:hook('initCronHook')}
</body>
</html>
