{extend name="default/base" /}
{block name="css"}
<link href="__STATIC__/plugins/validator/jquery.validator.css?v={$v}" rel="stylesheet">
<link href="__SUPPLIER__/css/security.css?v={$v}" rel="stylesheet">
{/block}
{block name="main"}
<div class="f-clear"></div>
<div class="wst-sec-head2">
	<div class="wst-lfloat wst-sec-min {if ($process=='One')}wst-sec-gr{/if}">1、{:lang('verify_identity')}</div>
	<div class="wst-lfloat wst-sec-min1 {if ($process=='One')}wst-sec-gr1{/if}"></div>
	<div class="wst-lfloat wst-sec-mi">
		<div class="wst-lfloat wst-sec-min2 {if ($process=='Two')}wst-sec-gr2{/if}"></div>
		<div class="wst-lfloat wst-sec-min3 {if ($process=='Two')}wst-sec-gr3{/if}"></div>
	</div>
	<div class="wst-lfloat wst-sec-min {if ($process=='Two')}wst-sec-gr{/if}">2、{:lang('set_pay_pwd')}</div>
	<div class="wst-lfloat wst-sec-min1 {if ($process=='Two')}wst-sec-gr1{/if}"></div>
	<div class="wst-lfloat wst-sec-mi">
		<div class="wst-lfloat wst-sec-min2 {if ($process=='Three')}wst-sec-gr2{/if}"></div>
		<div class="wst-lfloat wst-sec-min3 {if ($process=='Three')}wst-sec-gr3{/if}"></div>
	</div>
	<div class="wst-lfloat wst-sec-min {if ($process=='Three')}wst-sec-gr{/if}">3、{:lang('finish')}</div>
</div>
{if ($process=='One')}
	{if($data['phoneType']==1)}
	<form method="post" id="getpayForm" autocomplete="off">
        <table class='wst-form' style="width: auto;">
           <tr>
             <th align='right'><font color='red'>*</font>{:lang('already_verify_phone')}：</th>
             <td>{$data['userPhone']}</td>
           </tr>
       <tr>
	        <th align='right'><font color='red'>*</font>{:lang('label_security_phone_code')}：</th>
			<td>
				<input type='text' class="ipt" id='Checkcode' name='Checkcode' data-rule="{:lang('label_security_email_code')}: required;" data-msg-required="{:lang('require_security_secret_code')}" data-tip="{:lang('require_security_secret_code')}" data-target="#verifyPhone1" style='width:250px;' maxLength='30'/>
        {if (int)WSTConf('CONF.isAddonCaptcha')!=1}
				<button id="timeObtain" class="btn btn-primary" type="button" onclick="javascript:getPhoneVerify('pay');">{:lang('get_phone_code')}</button>
        {else}
        {:hook('supplierDocumentVerfiySmsCaptcha')}
        {/if}
                <span id="verifyPhone1"></span>
			</td>
		</tr>
           <tr>
             <td colspan='2' style='padding-left:116px;height:60px;'>
                 <button class="wst-sec-but btn btn-primary" type="submit" style="width:100px;height: 30px;"><i class="fa fa-check"></i>{:lang('confirm')}</button>
             </td>
           </tr>
        </table>
      </form>
      {else}
      <div class="wst-sec-su">
			<span class="wst-sec-sub" style="color: #333333;">{:lang('no_bind_phone')}</span>
		</div>
      {/if}
{/if}
{if ($process=='Two')}
   <form method="post" id="payForm" autocomplete="off">
   	<input type="hidden" id="token" value='{:WSTConf("CONF.pwdModulusKey")}'/>
    <input type='hidden' id='process' class='ipt' value='{$process}' autocomplete="off"/>
      <table class='wst-form' style="width: auto;">
           <tr>
             <th align='right'> <font color='red'>*</font>{:lang('label_security_new_pay_pwd')}：</th>
             <td>
             <input type='password' class="ipt" id='newPass' name='newPass' style='width:250px;' maxLength='6' data-rule="{:lang('label_security_new_pay_pwd')}:required;length(6)"/>
             </td>
           </tr>
           <tr>
             <th align='right'> <font color='red'>*</font>{:lang('label_security_confirm_pay_pwd')}：</th>
             <td>
             <input type='password' class="ipt" id='reNewPass' name='reNewPass' style='width:250px;' maxLength='6' data-rule="{:lang('label_security_confirm_pay_pwd')}:required;length(6)"/>
             </td>
           </tr>
           <tr>
           <tr>
             <td colspan='2' style='padding-left:75px;height:60px;'>
                 <button class='wst-sec-but wst-lfloat btn btn-primary' type="submit" style="width:100px;height: 30px;"><i class="fa fa-check"></i>{:lang('save')}</button>
                 <button class='wst-sec-but2 wst-lfloat btn' type="reset" style="width:100px;height: 30px;margin-left:16px;"><i class="fa fa-refresh"></i>{:lang('reset')}</button>
             </td>
           </tr>
        </table>
     </form>
<div style="text-align: center;margin-top:50px;"><button  type="button" id="timeSend" class='wst-btn-querys btn btn-primary'style="display:none;"><i class="fa fa-check"></i>{:lang('next_step')}</button></div>
{/if}
{if ($process=='Three')}
<div class="wst-sec-su">
	<span class="wst-sec-sut"><img src="__SUPPLIER__/img/icon_success.png"/></span>
	<span class="wst-sec-sub">{:lang('already_set_pay_password')}</span>
</div>
{/if}
     <form method="post" id="phoneVerify" autocomplete="off" style="display:none;">
      <input type='hidden' id='VerifyId' value='' autocomplete="off"/>
      <table class='wst-form' style="width:500px;">
        <tr>
	        <th align='right'><font color='red'>*</font>{:lang('verify_code')}：</th>
			<td>
				<input id="smsVerfy" style="ime-mode:disabled;width:150px;" name="smsVerfy" data-rule="{:lang('verify_code')}: required;" data-msg-required="{:lang('require_security_verify')}" data-tip="{:lang('require_security_verify')}" data-target="#verify" class="ipt wst-lfloat" tabindex="6" autocomplete="off" maxlength="6" type="text"/>
				<label class="wst-sec-img">
					<img id='verifyImg' src="{:url('supplier/users/getVerify')}" onclick='javascript:WST.getVerify("#verifyImg")' style="width:110px;height: 30px;margin-left: 5px;">
				</label>
			   	<label>&nbsp;{:lang('verify_vague')}？<a href="javascript:WST.getVerify('#verifyImg')"style="color:#69b7b5;">{:lang('verify_change')}</a></label><span id="verify"></span>
			</td>
		</tr>
         <tr>
           <td colspan='2' style='padding-left:71px;height:50px;'>
               <button class="wst-sec-but btn btn-primary" type="submit" style="width:100px;height: 30px;"><i class="fa fa-check"></i>{:lang('confirm')}</button>
           </td>
         </tr>
        </table>
      </form>
{/block}
{block name="js"}
	<script type="text/javascript" src="__STATIC__/js/rsa.js"></script>
	<script type='text/javascript' src='__SUPPLIER__/security/security.js?v={$v}'></script>
	<script type="text/javascript" src="__STATIC__/plugins/validator/jquery.validator.min.js?v={$v}"></script>
	<script>
	$(function(){vegetpayForm();vepayForm();})
	</script>
{/block}
