@CHARSET "UTF-8";
.ui-header ~ .ui-container{border-top:0.47rem solid transparent;}
.ui-container{height:calc(100% - 0.47rem);}
#express-box{margin-bottom:0.7rem;}
.deliver-container{margin-top:0.1rem;}
.express-title{background: #fff;font-size: 0.15rem;font-weight:bold;color:#333;padding-top:0.1rem;}
.delivery-item{height:0.54rem;background: #fff;}
.delivery-item .title{color:#333;font-size:0.15rem;margin-left:0.12rem;width:1rem;}
.delivery-item .content{color:#999;font-size:0.15rem;margin-right:0.12rem;}
.expressNo{float: left;height:30px;width:100%;text-align: right;border:0;}
.icon-right-arrow{display:inline-block;width:0.06rem;height:0.11rem;background: url(../img/icon-right-arrow.png) center center no-repeat;background-size:100%;margin-left:0.06rem;}
.wst-ad-footer{position: fixed;z-index: 100;bottom:0.15rem;left: 0;width: 100%;height: 44px;}
.wst-ad-footer .button{display: block;width: 92%;height: 0.4rem;margin-left: 4%;border-radius: 0.2rem;background: #F04038;font-size: 0.14rem;font-weight:400;color:rgba(255,255,255,1);line-height:0.24rem;}
.wst-express-box{position:fixed;z-index:10001;left:0;bottom:-5.32rem;width:100%;background:#fff;font-size:.14rem;border-radius: 0.1rem 0.1rem 0 0;}
.wst-express-box .title{color:#333;font-size:0.15rem;padding:0.15rem 0;text-align: center;font-weight: 600;}
.wst-express-box .desc{color:#ccc;font-size:0.14rem;padding-left:0.13rem;}
.wst-express-box .item{height:0.58rem;margin:0 0.12rem;border-bottom:1px solid #f2f2f2;}
.wst-express-box .item .name{color:#333;font-size:0.15rem;}
.wst-express-box .content{height:2.32rem;overflow-y: scroll;}
.ui-checkbox input:before,.ui-checkbox-s input:before{font-size:22px!important;left: 5px;}
.ui-checkbox input:checked:before,.ui-checkbox-s input:checked:before{color:#EA4341!important}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:10000;display:none}
/*底部弹框按钮*/
/*非浮动按钮bottom-btn-box*/
.bottom-one-btn-box{padding:0 0.12rem;height:0.54rem;background: #fff;}
.bottom-one-btn-box .wst-dialog-b2{background:#ED413B;border-radius: 0.2rem;width:100%;height:0.4rem;line-height:0.4rem;text-align: center;color:#fff;}
.bottom-one-btn-box .wst-dialog-b2:not(.disabled):not(:disabled):active,.bottom-one-btn-box .wst-dialog-b2.active{background:#DB3735;}
.bottom-two-btn-box{padding:0 0.12rem;height:0.54rem;background: #fff;}
.bottom-two-btn-box button{width:50%;height:0.4rem;color:#fff;text-align: center;line-height: 0.4rem;margin:0.07rem 0;}
.bottom-two-btn-box .wst-dialog-b1{background:#FFAC2A;border-radius:0.2rem 0 0 0.2rem; }
.bottom-two-btn-box .wst-dialog-b2{background:#ED413B;border-radius:0 0.2rem 0.2rem 0;}
.bottom-two-btn-box .wst-dialog-b1:not(.disabled):not(:disabled):active,.bottom-two-btn-box .wst-dialog-b1.active{background:#F38F1A;}
.bottom-two-btn-box .wst-dialog-b2:not(.disabled):not(:disabled):active,.bottom-two-btn-box .wst-dialog-b2.active{background:#DB3735;}
