{php}$wholesaleNum = count($object['wholesale']);{/php}
<input type='hidden' id='goodsId' class='j-ipt' value='{$object["goodsId"]}'/>
<fieldset>
  <legend>{:lang('base_info')}</legend>
  <div class="layui-tab layui-tab-brief" lay-filter="msgTab">
      <ul class="layui-tab-title">
        {volist name=":WSTSysLangs()" id='vo'}
        <li {if $key==0}class="layui-this"{/if}>{$vo['name']}</li>
        {/volist}
      </ul>
      <div class="layui-tab-content">
        {volist name=":WSTSysLangs()" id='vo'}
        <div class="layui-tab-item {if $key==0}layui-show{/if}">
          <table class='wst-form'>
            <tr>
               <th>{:lang('label_goods_name')}<font color='red'>*</font>：</th>
               <td>
                  <input type="text" class='j-ipt ipwd' id='langParams{$vo["id"]}goodsName' name='langParams{$vo["id"]}goodsName' maxLength='150' data-rule="{:lang('label_goods_name')}:required;" value="{$object['langParams'][$vo['id']]["goodsName"]}">
               </td>
            </tr>
            <tr>
               <th>{:lang('label_goods_seo_keywords')}：</th>
               <td><input type='text' class='j-ipt ipwd' id='langParams{$vo["id"]}goodsSeoKeywords' name='langParams{$vo["id"]}goodsSeoKeywords' maxLength='100' value='{$object['langParams'][$vo['id']]["goodsSeoKeywords"]}' /></td>
            </tr>
            <tr>
               <th>{:lang('label_goods_seo_desc')}：</th>
               <td><input type='text' class='j-ipt ipwd' id='langParams{$vo["id"]}goodsSeoDesc' name='langParams{$vo["id"]}goodsSeoDesc'  maxLength='200' value='{$object['langParams'][$vo['id']]["goodsSeoDesc"]}' /></td>
            </tr>
            <tr>
               <th>{:lang('label_goods_tips')}：</th>
               <td><input class='j-ipt ipwd' type="text" id='langParams{$vo["id"]}goodsTips' name='langParams{$vo["id"]}goodsTips' maxLength='100' value="{$object['langParams'][$vo['id']]["goodsTips"]}" /></td>
            </tr>
            <tr>
               <th>{:lang('label_goods_desc')}<font color='red'>*</font>：</th>
               <td>
                   <textarea rows="2" cols="60" id='langParams{$vo["id"]}goodsDesc' class='j-ipt' name='langParams{$vo["id"]}goodsDesc' data-rule="{:lang('label_goods_desc')}:required;">{$object['langParams'][$vo['id']]['goodsDesc']}</textarea>
               </td>
            </tr>        
          </table>
        </div>
         {/volist}
      </div>
  </div>
</fieldset>
<fieldset>
    <legend>{:lang('base_seting')}</legend>  
          <table class='wst-form'>
            <tr>
               <th>{:lang('label_goods_cat')}<font color='red'>*</font>：</th>
               <td>
                   <select id="cat_0" class='ipt j-goodsCats' level="0" onchange="WST.ITGoodsCats({id:'cat_0',val:this.value,isRequire:true,className:'j-goodsCats',afterFunc:'lastGoodsCatCallback'});getBrands('brandId',this.value)" style="width: 395px">
                    <option value="">-{:lang('select')}-</option>
                    {volist name=":WSTSupplierApplyGoodsCats(0)" id="vo"}
                    <option value="{$vo['catId']}">{$vo['catName']}</option>
                    {/volist}
                 </select>
               </td>
            </tr>
            <tr>
               <th>{:lang('label_goods_supp_cat')}：</th>
               <td>
                   <select id="supplierCatId1" class='j-ipt' onchange="getSuppliersCats('supplierCatId2',this.value,'');" style="width: 395px">
                      <option value="">-{:lang('select')}-</option>
                      {volist name=":WSTSupplierCats(0)" id="vo"}
                      <option value="{$vo['catId']}" {if $object['supplierCatId1']==$vo['catId']}selected{/if}>{$vo['catName']}</option>
                      {/volist}
                   </select>
                   <select id='supplierCatId2' class='j-ipt' style="width: 395px">
                       <option value=''>{:lang('select')}</option>
                   </select>
               </td>
            </tr>
            <tr>
               <th>{:lang('label_goods_brand')}：</th>
               <td>
                   <select id="brandId" class='j-ipt ipwd'>
                      <option value="0">-{:lang('select')}-</option>
                   </select>
               </td>
            </tr>
            <tr>
              <th>{:lang('label_goods_img')}<font color='red'>*</font>：</th>
              <td>
                  <input type="text" id='goodsImg' readonly="readonly" value='{if $object["goodsImg"]!=''}{$object["goodsImg"]}{else}{:WSTConf('CONF.goodsLogo')}{/if}' class="j-ipt" style="float: left; width: 655px;" />
                  <div id='goodsImgPicker' style="float: left;margin-top: 5px;">{:lang('upload')}</div><span id='uploadMsg'></span>
                  <div id='goodsImgBox' style='margin-bottom:5px; float: left; height: 30px; margin-left: 5px;'>
                      <span class='weixin'>
                            <img class='img' style='height:16px;width:18px;' src='__STATIC__/images/upload-common-select.png'>
                            <img class='imged'  id='preview'  style='max-height:150px;max-width: 200px; border:1px solid #dadada; background:#fff' src="__RESOURCE_PATH__/{if $object['goodsImg']!=''}{$object['goodsImg']}{else}{:WSTConf('CONF.goodsLogo')}{/if}">
                          </span>
                  </div>
                  <div class="f-clear"></div>
                  <span class='msg-box' id='msg_goodsImg'></span>
              </td>
            </tr>
            <tr>
              <th></th>
              <td><span>({:lang('label_goods_img_tips')})</span></td>
            </tr>
            <tr>
              <th>{:lang('label_goods_video')}：</th>
              <td>
                <input type='text' id='goodsVideo' class='j-ipt'  value='{$object["goodsVideo"]}' readonly="readonly" style="float: left; width: 655px;" />
                <div id='goodsVideoPicker' style="float: left;margin-top: 5px;">{:lang('upload')}</div>
                <span id='uploadVideoMsg'></span>

                <div id='goodsVedioBox' style='margin-bottom:5px; float: left; height: 30px; margin-left: 5px;'>
                    <span  class='weixin'>
                      <img class='img' style='height:16px;width:18px;' src='__STATIC__/images/upload-common-select.png'>
                      <video  class='imged' id='goodsVideoPlayer' src="__RESOURCE_PATH__/{$object["goodsVideo"]}" controls="controls"  style='max-height:150px;max-width: 200px; border:1px solid #dadada; background:#fff'></video>
                      <span class="vedio-del" {if $object["goodsVideo"]!=''}style='display:inline-block'{/if} onclick="javascript:clearVedio(this)"></span>
                    </span>

                </div>
              </td>
            </tr>
            <tr>
              <th></th>
              <td><span>({:lang('label_goods_video_tips')}3gp,mp4,rmvb,mov,avi)</span></td>
            </tr>
            <tr>
               <th>{:lang('label_goods_sn')}<font color='red'>*</font>：</th>
               <td><input type='text' class='j-ipt ipwd' id='goodsSn' value='{$object["goodsSn"]}' maxLength='20' data-rule="{:lang('label_goods_sn')}:required;"/></td>
            </tr>
            <tr>
               <th width='150'>{:lang('label_product_no')}<font color='red'>*</font>：</th>
               <td>
                  <input type='text' class='j-ipt ipwd' id='productNo' value='{$object["productNo"]}' maxLength='20' data-rule="{:lang('label_product_no')}:required;"/>
               </td>
            </tr>
            <tr>
               <th>{:lang('label_goods_market_price')}<font color='red'>*</font>：</th>
               <td><input type='text' class='j-ipt ipwd' id='marketPrice' value='{$object["marketPrice"]}' maxLength='10' data-rule="{:lang('label_goods_market_price')}:required;price" data-rule-price="[/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$/, '{:lang('label_goods_price_tips')}']" onblur="javascript:WST.limitDecimal(this,2)" onkeypress="return WST.isNumberdoteKey(event)" onkeyup="javascript:WST.isChinese(this,1)"/></td>
            </tr>
            <tr>
               <th>{:lang('label_cost_price')}：</th>
               <td><input type='text' class='j-ipt ipwd' id='costPrice' value='{$object["costPrice"]}' maxLength='10' onblur="javascript:WST.limitDecimal(this,2)" onkeypress="return WST.isNumberdoteKey(event)" onkeyup="javascript:WST.isChinese(this,1)"/></td>
            </tr>
            <tr>
               <th>{:lang('label_goods_supp_price')}<font color='red'>*</font>：</th>
               <td><input type='text' class='j-ipt ipwd' id='supplierPrice' value='{$object["supplierPrice"]}' maxLength='10' data-rule="{:lang('label_goods_supp_price')}:required;price" data-rule-price="[/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$/, '{:lang('label_goods_price_tips')}']" onblur="javascript:WST.limitDecimal(this,2)" onkeypress="return WST.isNumberdoteKey(event)" onkeyup="javascript:WST.isChinese(this,1)"/></td>
            </tr>
            <tr>
               <th>{:lang('label_goods_is_wholesale')}<font color='red'>*</font>：</th>
               <td colspan='2' class="layui-form">
                  <label><input type='radio' name='isWholesale' id="isWholesale-1" class='j-ipt' value='1' {if $object['isWholesale']==1}checked{/if} title="{:lang('yes')}" onclick="javascript:showHideWholesaleRow(true)" /></label>
                  <label><input type='radio' name='isWholesale' id="isWholesale-0" class='j-ipt' value='0' {if $object['isWholesale']==0}checked{/if} title="{:lang('no')}" onclick="javascript:showHideWholesaleRow(false)"/></label>
               </td>
            </tr>
            <tr class='wholesale_tr' {if $object['isWholesale']==0}style='display:none'{/if}>
               <th>{:lang('label_goods_wholesale_num')}<font color='red'>*</font>：</th>
               <td colspan="2">
                <input type="hidden" name="wholesaleNum" id="wholesaleNum" class='j-ipt' value='{$wholesaleNum}'>
                <table width='300'>
                     <tr>
                        <td align="left">{:lang('num')}</td><td  align="left">{:lang('label_goods_wholesale_num_tips')}</td>
                     </tr>
                     <tbody id='wholesalebody'>
                       {if !empty($object['wholesale'])}
                       {volist name="$object['wholesale']" id='vo'}
                       <tr>
                         <td><input type="text" name="buyNum_{$key}" id="buyNum_{$key}" class='j-ipt' style="width:50px" onkeypress="return WST.isNumberKey(event)" onkeyup="javascript:WST.isChinese(this,1)" value="{$vo['buyNum']}"></td>
                         <td><input type="text" name="rebate_{$key}" id="rebate_{$key}" class='j-ipt' style="width:80px;margin-right:10px" onblur="javascript:WST.limitDecimal(this,2)" onkeypress="return WST.isNumberdoteKey(event)" onkeyup="javascript:WST.isChinese(this,1)" value="{$vo['rebate']}">
                         {if $key==0}
                         <button type="button" onclick="javascript:addWholesaleRow()" class="btn btn-success">{:lang('add')}</button>
                         {else}
                         <button type="button" onclick="javascript:delWholesaleRow(this)" class="btn btn-danger">{:lang('del')}</button>
                         {/if}
                         </td>
                       </tr>
                       {/volist}
                       {/if}
                     </tbody>
                </table>
               </td>
            </tr>
            <tr id='goodsStockTr' {if($object["goodsType"]==1)}style='display:none'{/if}>
               <th>{:lang('label_goods_stock')}<font color='red'>*</font>：</th>
               <td><input type='text' class='j-ipt ipwd' id='goodsStock' value='{$object["goodsStock"]}' maxLength='10' data-rule="{:lang('label_goods_stock')}:required;integer[+0]" onkeypress="return WST.isNumberKey(event)" onkeyup="javascript:WST.isChinese(this,1)"/></td>
            </tr>
            <tr>
               <th>{:lang('label_warn_stock')}<font color='red'>*</font>：</th>
               <td colspan='2'><input type='text' class='j-ipt ipwd' id='warnStock' value='{$object["warnStock"]}' maxLength='10' data-rule="{:lang('label_warn_stock')}:required;integer[+0]" onkeypress="return WST.isNumberKey(event)" onkeyup="javascript:WST.isChinese(this,1)"/></td>
            </tr>
            <tr>
               <th>{:lang('label_goods_unit')}<font color='red'>*</font>：</th>
               <td>
                <select class='j-ipt' id='goodsUnit' data-rule='{:lang("commodity_unit")}:required;' style='width:150px'>
                   <option value="">-{:lang('select')}-</option>
                   {volist name=":WSTDatas('GOODS_UNIT')" id="vo"}
                   <option value="{$vo['dataVal']}" {if $object["goodsUnit"]==$vo['dataVal']}selected{/if}>{$vo['dataName']}</option>
                   {/volist}
                </select>
              </td>
            </tr>
            <tr id='goodsWeightTr' {if($object["goodsType"]==1)}style='display:none'{/if}>
               <th>{:lang('label_goods_weight')}(kg)<font color='red'>*</font>：</th>
               <td><input type='text' class='j-ipt ipwd' id='goodsWeight' value='{$object["goodsWeight"]}' maxLength='10' onblur="javascript:WST.limitDecimal(this,2)" onkeypress="return WST.isNumberdoteKey(event)" onkeyup="javascript:WST.isChinese(this,1)"/></td>
            </tr {if($object["goodsType"]==1)}style='display:none'{/if}>
            <tr id='goodsVolumeTr' {if($object["goodsType"]==1)}style='display:none'{/if}>
               <th>{:lang('label_goods_volume')}(m³)<font color='red'>*</font>：</th>
               <td><input type='text' class='j-ipt ipwd' id='goodsVolume' value='{$object["goodsVolume"]}' maxLength='10' onblur="javascript:WST.limitDecimal(this,2)" onkeypress="return WST.isNumberdoteKey(event)" onkeyup="javascript:WST.isChinese(this,1)"/></td>
            </tr>
            
            {:hook('supplierDocumentShopEditGoods',['goodsId'=>$object["goodsId"]])}
            <tr>
               <th>{:lang('label_goods_status')}<font color='red'>*</font>：</th>
               <td class="layui-form">
                  <label><input type='radio' name='isSale' id="isSale-1" class='j-ipt' value='1' {if $object['isSale']==1}checked{/if} title="{:lang('goods_is_sale_type1')}"/></label>
                  <label><input type='radio' name='isSale' id="isSale-0" class='j-ipt' value='0' {if $object['isSale']==0}checked{/if} title="{:lang('goods_is_sale_type1')}"/></label>
               </td>
            </tr>
            <tr>
               <th>{:lang('label_goods_attr')}：</th>
               <td class='layui-form'>
                    <input id="isRecom" name='isRecom' lay-skin="primary" class="j-ipt" {if $object['isRecom']==1}checked{/if} value="1" type="checkbox" title="{:lang('goods_is_recom')}" />
                    <input id="isBest" name="isBest" lay-skin="primary" class="j-ipt" {if $object['isBest']==1}checked{/if} value="1" type="checkbox" title="{:lang('goods_is_best')}"/>
                    <input id="isNew" name="isNew" lay-skin="primary" class="j-ipt" {if $object['isNew']==1}checked{/if} value="1" type="checkbox" title="{:lang('goods_is_new')}"/>
                    <input id="isHot" name="isHot" lay-skin="primary" class="j-ipt" {if $object['isHot']==1}checked{/if} value="1" type="checkbox" title="{:lang('goods_is_hot')}"/>
               </td>
            </tr>
            <tr>
               <th>{:lang('label_goods_is_free_shipping')}：</th>
               <td class="layui-form">
                  <label><input type='radio' name='isFreeShipping' id="isFreeShipping-1" lay-filter="isFreeShipping" class='j-ipt' value='1' {if $object['isFreeShipping']==1}checked{/if} title="{:lang('goods_is_free_shipping_type1')}"/></label>
                  <label><input type='radio' name='isFreeShipping' id="isFreeShipping-0" lay-filter="isFreeShipping" class='j-ipt' value='0' {if $object['isFreeShipping']==0}checked{/if} title="{:lang('goods_is_free_shipping_type2')}"/></label>
               </td>
            </tr>
            <tr id="shippingFeeTypeTr" {if $object['isFreeShipping']==1}style='display:none'{/if}>
               <th>{:lang('label_shipping_fee_type')}<font color='red'>*</font>：</th>
               <td class="layui-form">
                  <label><input type='radio' name='shippingFeeType' lay-filter="shippingFeeType" class='j-ipt' value='1' {if $object['shippingFeeType']==1}checked{/if} title="{:lang('shipping_fee_type1')}"/></label>
                  <label><input type='radio' name='shippingFeeType' lay-filter="shippingFeeType" class='j-ipt' value='2' {if $object['shippingFeeType']==2}checked{/if} title="{:lang('shipping_fee_type2')}"/></label>
                  <label><input type='radio' name='shippingFeeType' lay-filter="shippingFeeType" class='j-ipt' value='3' {if $object['shippingFeeType']==3}checked{/if} title="{:lang('shipping_fee_type3')}"/></label>

               </td>
            </tr>
            <tr id="supplierExpressTr" {if $object['isFreeShipping']==1}style='display:none'{/if}>
               <th>{:lang('label_express')}<font color='red'>*</font>：</th>
               <td>
                  <select id='supplierExpressId' class='j-ipt ipwd'>
                    <option value="">-{:lang('select')}-</option>
                    {volist name="supplierExpressList" id="vo"}
                    <option value="{$vo['id']}" {if($object["supplierExpressId"]==$vo['id'])}selected{/if}>{$vo['expressName']}</option>
                    {/volist}
                  </select>
               </td>
            </tr>
            <tr>
               <td align='center' style='text-align:center;padding-top:10px;'></td>
            </tr>
          </table>
</fieldset>
<script type="text/javascript">

var wholesaleNum = {$wholesaleNum};
function addWholesaleRow(isAdd){
   var rowNum = $('#wholesalebody').children().size();
   if(rowNum>=10){
       WST.msg(WST.lang('goods_wholesale_tips1'),{icon:2});
       return;
   }
   var html = [];
   html.push('<tr>',
             '<td><input type="text" name="buyNum_'+wholesaleNum+'" id="buyNum_'+wholesaleNum+'" class="j-ipt" style="width:50px" onkeypress="return WST.isNumberKey(event)" onkeyup="javascript:WST.isChinese(this,1)"></td>',
             '<td><input type="text" name="rebate_'+wholesaleNum+'" id="rebate_'+wholesaleNum+'" class="j-ipt" style="width:80px;margin-right:10px" onblur="javascript:WST.limitDecimal(this,2)" onkeypress="return WST.isNumberdoteKey(event)" onkeyup="javascript:WST.isChinese(this,1)">',
             isAdd?'<button type="button" onclick="javascript:addWholesaleRow()" class="btn btn-success">'+WST.lang('add')+'</button>':'<button type="button" onclick="javascript:delWholesaleRow(this)" class="btn btn-danger">'+WST.lang('del')+'</button>',
             '</td></tr>'
        );
   $('#wholesalebody').append(html.join(''));
   wholesaleNum++;
   $('#wholesaleNum').val(wholesaleNum);
}
function showHideWholesaleRow(isShow){
    if(isShow){
        WST.showHide(1,'.wholesale_tr');
        if(wholesaleNum==0)addWholesaleRow(true);
    }else{
        WST.showHide(0,'.wholesale_tr');
    }
}
function delWholesaleRow(obj){
    $(obj).parent().parent().remove();
}
function checkWholesale(params){
    if(params.isWholesale == 1){
        var checkBuyNum = [];
        for(var i=0;i<params.wholesaleNum;i++){
            if(!$('#buyNum_'+i)[0])continue;
            params['buyNum_'+i] = $.trim($('#buyNum_'+i).val());
            if(params['buyNum_'+i]==''){
                window['callback_checkWholesale'] = function(){
                    WST.msg(WST.lang('goods_wholesale_tips2'),{icon:2});
                    $('#buyNum_'+i).focus();
                }
                return params;
            }
            if(parseInt(params['buyNum_'+i],10)<=1){
                window['callback_checkWholesale'] = function(){
                    WST.msg(WST.lang('goods_wholesale_tips3'),{icon:2});
                    $('#buyNum_'+i).val('');
                }
                return params;
            }
            if($.inArray(params['buyNum_'+i],checkBuyNum)>-1){
                window['callback_checkWholesale'] = function(){
                    WST.msg(WST.lang('goods_wholesale_tips4'),{icon:2});
                    $('#buyNum_'+i).val('');
                }
                return params;
            }
            checkBuyNum.push(params['buyNum_'+i]);
            params['rebate_'+i] = $.trim($('#rebate_'+i).val());
            if(params['rebate_'+i]==''){
                window['callback_checkWholesale'] = function(){
                    WST.msg(WST.lang('goods_wholesale_tips5'),{icon:2});
                    $('#rebate_'+i).focus();
                }
                return params;
            }
            if(parseFloat(params['rebate_'+i],10)<=0){
                window['callback_checkWholesale'] = function(){
                    WST.msg(WST.lang('goods_wholesale_tips6'),{icon:2});
                    $('#rebate_'+i).val('');
                }
                return params;
            }
        }
    }
    return params;
}
</script>
