{extend name="default/base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/mmgrid/mmGrid.css?v={$v}" />
{/block}
{block name="main"}
<div class="wst-toolbar">
  <select name="cat1" id="cat1" onchange="getCat(this.value)" class="s-query">
      <option value="">-{:lang('select_goods_cat')}-</option>
    {volist name=":WSTSupplierCats(0)" id="vo"}
          <option value="{$vo['catId']}" >{$vo['catName']}</option>
    {/volist}
  </select>
  <select name="cat2" id="cat2" class="s-query"><option value="">-{:lang('select')}-</option></select>
  <input type="text" name="goodsName" id="goodsName" class="s-query" placeholder="{:lang('label_goods_name')}/{:lang('label_goods_sn')}"/>
  <a class="s-btn btn btn-primary" id="store-query" onclick="loadGrid(0)"><i class="fa fa-search"></i>{:lang('query')}</a>
  <a href='javascript:void(0);' onclick="benchDel('store',1)" class=" wst-rfloat s-del btn btn-danger" style="float: right;"><i class="fa fa-trash"></i>{:lang('del')}</a>
</div>
<div class='wst-grid'>
    <div id="mmg" class="mmg"></div>
    <div id="pg" style="text-align: right;"></div>
</div>
{/block}
{block name="js"}
<script src="__STATIC__/plugins/mmgrid/mmGrid.js?v={$v}" type="text/javascript"></script>
<script type='text/javascript' src='__SUPPLIER__/goods/goods.js?v={$v}'></script>
<script>
$(function(){illegalByPage({$p})})
</script>
{/block}
