{extend name="default/base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/mmgrid/mmGrid.css?v={$v}" />
<style type="text/css">
.mmGrid{
  width: 100%;
  margin: 0px auto;
}
</style>
{/block}
{block name="js"}
<script src="__STATIC__/plugins/mmgrid/mmGrid.js?v={$v}" type="text/javascript"></script>
<script type='text/javascript' src='__STORE__/goods/goods.js?v={$v}'></script>
<script>    var mmg;
$(function(){saleByPage({$p})})
</script>
{/block}
{block name="main"}
<div class="wst-toolbar">
    <select name="cat1" id="cat1" onchange="getCat(this.value)" class="s-query">
        <option value="">-{:lang("please_select_product_category")}-</option>
      {volist name=":WSTStoreCats(0)" id="vo"}
            <option value="{$vo['catId']}" >{$vo['catName']}</option>
      {/volist}
    </select>
    <select name="cat2" id="cat2" class="s-query"><option value="">-{:lang("please_select_product_category")}-</option></select>
  <select id='goodsType' class="s-query">
     <option value=''>{:lang("all_commodity_types")}</option>
     <option value='0'>{:lang("physical_goods")}</option>
     <option value='1'>{:lang("virtual_goods")}</option>
  </select>
    <input type="text" name="goodsName" id="goodsName" class="s-query" placeholder='{:lang("goods_name")}/{:lang("product_no")}'/>
    <a class="s-btn btn btn-primary" onclick="loadGrid()"><i class="fa fa-search"></i>{:lang("query")}</a>
</div>

<div class='wst-grid'>
    <div id="mmg" class="mmg"></div>
    <div id="pg" style="text-align: right;margin: 10px 0px 20px;"></div>
</div>
{/block}  