{extend name="default/base" /}
{block name="css"}
<link href="__STATIC__/plugins/validator/jquery.validator.css?v={$v}" rel="stylesheet">
<link href="__SHOP__/css/security.css?v={$v}" rel="stylesheet">
{/block}
{block name="main"}
<div class="f-clear"></div>
{if ($process=='One')}
	<form method="post" id="emailForm" autocomplete="off">
        <table class='wst-form'>
           <tr>
             <th align='right'><font color='red'>*</font>{:lang('bind_email_address')}：</th>
             <td>
             <input type='text' class="ipt" id='userEmail' name='userEmail' style='width:250px;' maxLength='30'/>
             </td>
           </tr>
       <tr>
	        <th align='right'><font color='red'>*</font>{:lang('verfiy_code')}：</th>
			<td>
				<input id="verifyCode" data-rule="{:lang('check_code')}:required" data-target="#verify" style="ime-mode:disabled;width:250px;" name="verifyCode"  class="ipt wst-lfloat" tabindex="6" autocomplete="off" maxlength="6" type="text"/>
				<label class="wst-sec-img">
					<img id='verifyImg' src="{:url('shop/users/getVerify')}" onclick='javascript:WST.getVerify("#verifyImg")' style="width:110px;height: 30px;margin-left: 5px;">
				</label>      	
			   	<label>&nbsp;{:lang('invisibility')}<a href="javascript:WST.getVerify('#verifyImg')" style="color:#69b7b5;">{:lang('change_one')}</a></label><span id="verify"></span>
			</td>
		</tr>
           <tr>
           	<th align='right'><font color='red'>*</font>{:lang('check_code')}：</th>
             <td>
             	<input id="secretCode" style="ime-mode:disabled;width:250px;" name="secretCode"  class="ipt wst-lfloat" tabindex="6" autocomplete="off" maxlength="6" type="text"/>
                 <button id="timeSend" class="wst-sec-but btn btn-primary" type="button" onclick="sendEmail()"  style="width:120px;height: 30px;margin-left: 5px;">{:lang('send_verification_email')}</button><span id="secretErr"></span>
             </td>
           </tr>
           <tr>
           	<td colspan="2">
           		<button id="next" class="wst-sec-but btn btn-primary" type="submit" style="width:120px;height: 30px;margin-left:150px"><i class="fa fa-check"></i>{:lang('next_step')}</button>
           	</td>
           </tr>
        </table>
      </form>
<div id="prompt" class="wst-sec-prompt hide">
	<div class="wst-lfloat">
	<p><span>{:lang('security_tips19')}</span><span id="inemail" style=" font-weight: bold;"></span></p>
	<p class="wst-sec-p1">{:lang('security_tips20')}</p>
	<p style="color:#f10b0b;">{:lang('security_tips21')}</p>
	<p class="wst-sec-p1" style="font-weight: bold;">{:lang('security_tips22')}</p>
	<p class="wst-sec-p2">{:lang('security_tips23')}<a style="color:#006898;" onclick="location.href=WST.U('shop/users/editEmail')">{:lang('resend')}</a></p>
	</div>
</div>
{/if}
{if ($process=='Three')}
<div class="wst-sec-su">
	<span class="wst-sec-sut"><img src="__SHOP__/img/icon_success.png"/></span>
	<span class="wst-sec-sub">{:lang('you_have_successfully_bound_your_mailbox')}</span>
</div>
{/if}
{/block}
{block name="js"}
	<script type='text/javascript' src='__SHOP__/security/security.js?v={$v}'></script>
	<script type="text/javascript" src="__STATIC__/plugins/validator/jquery.validator.min.js?v={$v}"></script>
	<script>
	$(function(){veemailForm();})
	</script>
{/block}