<form id="userForm" autocomplete="off" >
<table class='wst-form wst-box-top'>
  <tr>
    <th width='150'>{:lang('label_logmoney_login_name')}<font color='red'>*</font>：</th>
      <td width='370'>
        {$object['loginName']}{if $object['userName']!=''}({$object['userName']}){/if}
      </td>
  </tr>
  <tr>
    <th width='150'>{:lang('label_logmoney_type')}<font color='red'>*</font>：</th>
      <td width='370' class='layui-form'>
        <lable><input type='radio' name='moneyType' class='ipt' value='1' checked title='{:lang('label_logmoney_type1')}'/> </lable>
        <lable><input type='radio' name='moneyType' class='ipt' value='0' title='{:lang('label_logmoney_type0')}'/> </lable>
      </td>
  </tr>
  <tr>
    <th width='150'>{:lang('label_logmoney_moeny')}<font color='red'>*</font>：</th>
      <td width='370'>
        <input type='text' id='money' class='ipt' maxLength='5'/>
      </td>
  </tr>
  <tr>
    <th width='150'>{:lang('label_logmoney_moeny_txt')}：</th>
      <td width='370'>
        <textarea style='width:400px;height:50px;' class='ipt' id='remark'></textarea>
      </td>
  </tr>
  <tr>
     <td colspan='2' align='center'>
       <button type="button" class="btn btn-primary btn-mright" onclick="javascript:editMoney(<?=(int)$object['userId']?>,<?=(int)$object['userType']?>)"><i class="fa fa-check"></i>{:lang('submit')}</button> 
       <button type="button" class="btn" onclick="javascript:history.go(-1)"><i class="fa fa-angle-double-left"></i>{:lang('back')}</button>
     </td>
  </tr>
</table>
</form>