/**商品详情**/
.reward-box{color:#666;overflow: hidden;}
.reward-tag{padding:0.04rem;color:#EA4341;margin-right:0.06rem;font-size: 0.12rem;background:#fdecec;border-radius:0.02rem;}
.j-reward-tip{margin-left:10px;}
.j-reward-detail{padding:2px 10px;background:#ffffff;font-size:12px;display: none;}
.reward_show{height: auto;}
/**购物车**/
.cart-reward-shop-box{float:right;padding-right:10px;}
.cart-reward-goods-box{color:#666;clear:both;line-height:30px;border-bottom:1px solid #eee;padding: 0.1rem 0;}
.cart-reward-goods-box .reward-txt{float:left;font-size: 12px;color:#333;font-weight: bold;margin-left:0.12rem;line-height: 0.18rem}
.cart-reward-goods-box .tag{border:1px solid #EA4341;background:#EA4341;color:#fff;margin-right:3px;font-weight: normal;border-radius:0.02rem;}
.cart-reward-goods-box .reward-promotion{float:left;line-height:20px;}
/**结算页**/
.settlement-reward-shop-box{float:right;padding-right:10px;}
.settlement-reward-goods-box{color:#666;clear:both;padding-left:10px;line-height:30px;border-bottom:1px solid #eee;}
.settlement-reward-goods-box .reward-txt{float:left;}
.settlement-reward-goods-box .tag{padding:2px 5px;border:1px solid #df3033;background:#df3033;color:#fff;font-weight: bold;margin-right:3px;}
.settlement-reward-goods-box .red{color:#df3033;}
.settlement-reward-goods-box .reward-promotion{float:left;line-height:20px;}