{extend name="$LAYOUT_MOBILE_BASE" /}
{block name="title"}{:lang('addon_member_user_my')} {__block__}{/block}
{block name="css"}
<link rel="stylesheet"  href="__MOBILE__/css/user.css?v={$v}">
<link rel="stylesheet"  href="__ROOT__/addons/member/view/mobile/users/member.css?v=22{$v}">
{/block}
{block name="header"}
    <header style="background:#ffffff;" class="ui-header ui-header-positive ui-border-b wst-header">
        <i class="ui-icon-return" onclick="history.back()"></i><h1>{:lang('addon_member_user_reward_list')}</h1>
    </header>
{/block}
{block name="main"}
    <input type="hidden" name="" value="10" id="pageSize" autocomplete="off">
	    <input type="hidden" name="" value="0" id="currPage" autocomplete="off">
	    <input type="hidden" name="" value="" id="totalPage" autocomplete="off">
	    <input type="hidden" name="" value="" id="type" autocomplete="off">
        <section class="ui-container">
			<p class="wst-sha-u">{:lang('addon_member_user_total_points')}：{$user["memberScore"]}</p>
        	<ul class="ui-tab-content">
		        <li id="data-list"></li>
		    </ul>
        </section>
{/block}
{block name="footer"}

{/block}
{block name="js"}
<script src='__ROOT__/addons/member/view/mobile/users/member.js?v={$v}'></script>

<script id="list" type="text/html">
{{# if(d && d.length>0){ }}
<ul class="ui-row" style="margin-bottom: 0.16rem">
	{{# for(var i=0;i<d.length;i++){ }}
	<li class="ui-col ui-col-100 score-item">
		<label class="score-plus">{{d[i].dataRemarks}}</label>
		<label class="score {{(d[i].scoreType==1)?'down-color':''}}">+ {{d[i].score}}</label>
		<br>
		<label class="score-reduce ">{{d[i].createTime}}</label>
	</li>
	{{# } }}
</ul>
{{# }else{ }}
	<div class="wst-prompt-icon" style="width:1.395rem;"><img src="__MOBILE__/img/no_data.png"></div>
	<div class="wst-prompt-info">
		<p>{:lang('addon_member_user_no_data_available')}</p>
	</div>
{{# } }}
</script>

<script>
var loading = false;
$(function(){
	getAwardList();
    var currPage = totalPage = 0;
    $(window).scroll(function(){
        if (loading) return;
        if ((5 + $(window).scrollTop()) >= ($(document).height() - $(window).height())){
            currPage = Number( $('#currPage').val() );
            totalPage = Number( $('#totalPage').val() );
            if( totalPage > 0 && currPage < totalPage ){
            	getAwardList();
            }
        }
    });
	
});
</script>
{/block}
