{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/mmgrid/mmGrid.css?v={$v}" />
{/block}
{block name="js"}
<script src="__STATIC__/plugins/mmgrid/mmGrid.js?v={$v}" type="text/javascript"></script>
<script src="__ADMIN__/loguserlogins/loguserlogins.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div id='alertTips' class='alert alert-success alert-tips fade in'>
  <div id='headTip' class='head'><i class='fa fa-lightbulb-o'></i>{:lang('menu_tips')}</div>
  <ul class='body'>
    <li>{:lang('label_loguserlogins_menu_tips')}</li>
  </ul>
</div>
<div class="wst-toolbar">
  <select id="loginSrc" class="ipt">
    <option value="-1">{:lang('select')}</option>
    <option value="0">{:lang('product_pc')}</option>
    <option value="1">{:lang('product_wechat')}</option>
    <option value="2">{:lang('product_mobile')}</option>
    <option value="3">{:lang('product_app2')}</option>
    <option value="4">{:lang('product_app1')}</option>
    <option value="5">{:lang('product_weapp')}</option>
  </select>
<input type="text" id="startDate" name="startDate" class="laydate-icon ipt" placeholder='{:lang('start_date')}' maxLength="20"  />
{:lang('to')}
<input type="text" id="endDate" name="endDate" class="laydate-icon ipt" placeholder='{:lang('end_date')}' maxLength="20"  />
  <input type="text" id="loginName" name="loginName" class="ipt" placeholder='{:lang('label_loguserlogins_user_name')}' maxLength="20" />
  <input type="text" id="loginIp" name="loginIp" class="ipt" placeholder='{:lang('label_logshoplogins_ip')}' maxLength="20" />
<button class="btn btn-primary" onclick='javascript:loadGrid(0)'><i class='fa fa-search'></i>{:lang('query')}</button>
</div>
<div class='wst-grid'>
<div id="mmg" class="mmg"></div>
<div id="pg" style="text-align: right;"></div>
</div>
{/block}
