{extend name="../../../wstmart/admin/view/base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
<style>
    .webuploader-pick {background:#1890ff !important;color:#fff !important;font-size:14px;}
</style>
{/block}
{block name="js"}
<script src="__ROOT__/runtime/js/addons/lang-{$lang}.js?v={$v}" type="text/javascript"></script>
<script type='text/javascript' src='__STATIC__/plugins/webuploader/webuploader.js?v={$v}'></script>
<script src="__ROOT__/addons/integral/view/admin/edit.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<style>
  input[type=text], input[type=password]{width:180px;}
  .nice-validator select{display:inline-block;}
</style>
<div>
    <div id='alertTips' class='alert alert-success alert-tips fade in'>
        <div id='headTip' class='head'><i class='fa fa-lightbulb-o'></i>{:lang('integral_operation_explain')}</div>
        <ul class='body'>
            <li>{:lang('integral_alert_tips_1')}</li>
            <li>{:lang('integral_alert_tips_2')}</li>
            <li>{:lang('integral_alert_tips_3')}</li>
            <li>{:lang('integral_alert_tips_4')}</li>
        </ul>
    </div>
</div>
<form id="integralform">
    <fieldset>
        <legend>{:lang('integral_activity_info')}</legend>
        <div class="layui-tab layui-tab-brief" lay-filter="msgTab">
            <ul class="layui-tab-title">
                {volist name=":WSTSysLangs()" id='vo'}
                <li {if $key==0}class="layui-this"{/if}>{$vo['name']}</li>
                {/volist}
            </ul>
            <div class="layui-tab-content">
                {volist name=":WSTSysLangs()" id='vo'}
                <div class="layui-tab-item {if $key==0}layui-show{/if}">
                    <table class='wst-form'>
                        <tr>
                            <th>{:lang('integral_goods_name')}<font color='red'>*</font>：</th>
                            <td>
                                <input type="text" class='ipt' style='width:60%' id='langParams{$vo["id"]}goodsName' maxLength='150' data-rule='{:lang("integral_goods_name")}:required;' value="{$object['langParams'][$vo['id']]["goodsName"]}">
                            </td>
                        </tr>
                        <tr>
                            <th>{:lang('integral_seo_key_words')}：</th>
                            <td><input type='text' class='ipt' style='width:60%' id='langParams{$vo["id"]}goodsSeoKeywords' maxLength='100' value='{$object['langParams'][$vo['id']]["goodsSeoKeywords"]}' /></td>
                        </tr>
                        <tr>
                            <th>{:lang('integral_seo_desc')}：</th>
                            <td><input type='text' class='ipt' style='width:60%' id='langParams{$vo["id"]}goodsSeoDesc' maxLength='200' value='{$object['langParams'][$vo['id']]["goodsSeoDesc"]}' /></td>
                        </tr>
                        <tr>
                            <th>{:lang('integral_goods_explain')}：</th>
                            <td>
                                <textarea rows="2" cols="60" id='langParams{$vo["id"]}integralDesc' class='ipt' style='width:70%;height:150px;' name='langParams{$vo["id"]}integralDesc' >{$object['langParams'][$vo['id']]['integralDesc']}</textarea>
                            </td>
                        </tr>
                    </table>
                </div>
                {/volist}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>{:lang('integral_activity_setting')}</legend>
        <table class='wst-form wst-box-top'>
            <tr>
                <th width='150'></th>
                <td>
                    <select id="cat_0" class='ipt j-goodsCats' level="0" onchange="WST.ITGoodsCats({id:'cat_0',val:this.value,isRequire:false,className:'j-goodsCats'});">
                        <option value="">{:lang('integral_please_select')}</option>
                        {volist name=":WSTGoodsCats(0)" id="vo"}
                        <option value="{$vo['catId']}">{$vo['catName']}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr>
                <th width='120'></th>
                <td>
                    <input type='text' id='sgoodsName' placeholder="{:lang('integral_input_search_key')}" />
                    <button type="button"  class='btn btn-primary btn-mright'  onclick="searchGoods()"><i class="fa fa-search"></i>{:lang('integral_query')}</button>
                </td>
            </tr>
            <tr>
                <th>{:lang('integral_please_select_goods')}<font color='red'>*</font>：</th>
                <td>
                    <select id='goodsId' class='ipt' onchange='changeGoods(this)'>
                        <option value="{$object['goodsId']}">{$object['goodsName']}</option>
                    </select><br/>
                </td>
            </tr>
            <tr>
                <th>{:lang('integral_goods_pic')}<font color='red'>*</font>：</th>
                <td>
                    <input type="text" id='goodsImg' readonly="readonly" value='{if $object["goodsImg"]!=''}{$object["goodsImg"]}{else}{:WSTConf('CONF.goodsLogo')}{/if}' class="ipt" style="float: left; width: 655px;" />
                    <div id='goodsImgPicker' style="float: left;">{:lang('integral_upload')}</div><span id='uploadMsg'></span>
                    <div id='goodsImgBox' style='margin-bottom:5px; float: left; height: 30px; margin-left: 5px;'>
                    <span class='weixin'>
                          <img class='img' style='height:16px;width:18px;' src='__STATIC__/images/upload-common-select.png'>
                          <img class='imged'  id='preview'  style='max-height:150px;max-width: 200px; border:1px solid #dadada; background:#fff' src="__RESOURCE_PATH__/{if $object['goodsImg']!=''}{$object['goodsImg']}{else}{:WSTConf('CONF.goodsLogo')}{/if}">
                        </span>
                    </div>
                    <div class="f-clear"></div>
                    <span class='msg-box' id='msg_goodsImg'></span>
                </td>
            </tr>
            <tr>
                <th width='120'>{:lang('integral_market_price')}：</th>
                <td colspan='3' id='marketPrice'>{:lang('currency_symbol')}{$object["marketPrice"]}</td>
            </tr>
            <tr class="wst-order-rate" >
                <th width='120'>{:lang('integral_buy_price')}<font color='red'>*</font>：</th>
                <td colspan='3'>
                    <input type='text' id='goodsPrice' name='goodsPrice'class='ipt' maxLength='10' value='{$object["goodsPrice"]}' data-rule="{:lang('integral_buy_price')}:required;price" data-rule-price="[/^[0-9]\d*(\.\d+)?$/, '{:lang(\'integral_price_limit_tips\')}']" />
                </td>
            </tr>
            <tr class="wst-order-rate" >
                <th width='120'>{:lang('integral_score_number')}<font color='red'>*</font>：</th>
                <td colspan='3'>
                    <input type='text' id='integralNum' name='integralNum'class='ipt' maxLength='10' value='{$object["integralNum"]}' data-rule="{:lang('integral_score_number')}:required;price" data-rule-price="[/^[1-9]\d*(\.\d+)?$/, '{:lang(\'integral_score_limit_tips')}']" />
                </td>
            </tr>
            <tr class="wst-order-rate" >
                <th width='120'>{:lang('integral_goods_number')}<font color='red'>*</font>：</th>
                <td colspan='3'>
                    <input type='text' id='totalNum' name='totalNum' class='ipt' maxLength='8' data-rule="{:lang('integral_goods_number')}:required;integer[+]" value='{$object["totalNum"]}'/>
                </td>
            </tr>
            <tr class="wst-order-rate" >
                <th width='120'>{:lang('integral_valid_time')}<font color='red'>*</font>：</th>
                <td colspan='3'>
                    <input type='text' id='startTime' name='startTime' class='ipt laydate-icon' value='{$object["startTime"]}' onclick="laydate({format: 'YYYY-MM-DD hh:mm:ss',istime:true})"  data-rule="{:lang('integral_start_time')}: required;datetime;"/>
                    {:lang('integral_to_title')}
                    <input type='text' id='endTime' name='endTime' class='ipt laydate-icon' value='{$object["endTime"]}' onclick="laydate({format: 'YYYY-MM-DD hh:mm:ss',istime:true})" data-rule="{:lang('integral_end_time')}: required;datetime;match(gt, startTime, datetime)"/>
                </td>
            </tr>
            <tr>
                <td colspan='2' align='center'>
                    <input type="hidden" id="id" class='ipt' value="{$object['id']+0}" />
                    <button type="submit"  class='btn btn-primary btn-mright'><i class="fa fa-check"></i>{:lang('integral_submit')}</button>
                    <button type="button"  class='btn' onclick="location.href = WST.AU('integral://goods/pageByAdmin','p={$p}')"><i class="fa fa-angle-double-left"></i>{:lang('integral_back')}</button>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
<script>
$(function(){editInit({$p})});
</script>
{/block}

