{extend name="$LAYOUT_HOME_BASE" /}
{block name="title"}{:lang('combination_title')} -{:WSTConf('CONF.mallName')}{__block__}{/block}
{block name="css"}
<link href="__ROOT__/addons/combination/view/home/css/carts.css?v={$v}" rel="stylesheet">
{/block}
{block name="top"}
  {include file="$LAYOUT_HOME_TOP" /}
{/block}
{block name="header"}
  {include file="$LAYOUT_HOME_HEADER" /}
{/block}
{block name="main"}
<div class="wst-container">
	<div id="stepflex" class="stepflex">
       <dl class="first doing">
          <dt class="s-num">1</dt>
          <dd class="s-text">{:lang('combination_goods_detail')}</dd>
          <dd></dd>
       </dl>
       <dl class="normal doing">
          <dt class="s-num">2</dt>
          <dd class="s-text">{:lang('combination_check_order_information')}</dd>
       </dl>
       <dl class="last">
          <dt class="s-num1">3</dt>
          <dd class="s-text1">{:lang('combination_order_submit_success')}</dd>
       </dl>
    </div>
    <div class='wst-clear'></div>
    <div class='main-head'>{:lang('combination_check_order')}</div>

    <!-- 用户地址 -->
    <input type='hidden' class='j-ipt' id='s_addressId' value='{if isset($userAddress["addressId"]) }{$userAddress["addressId"]}{/if}'/>
    <input type='hidden' class='j-ipt' id='s_areaId' value='{if isset($userAddress["addressId"]) }{$userAddress["areaId2"]}{/if}'/>
    <div class='address-box'>
       <div class='box-head'>{:lang('combination_consignee_information')} <a class="add-addr" href="javascript:;" onclick="javascript:emptyAddress(this,1)">{:lang('combination_add_address')}</a></div>
       <!-- 选中地址 -->
       <div class='j-show-box {if empty($userAddress)}hide{/if}' >
          <div id="s_userName" class="wst-frame1 j-selected">{if isset($userAddress["addressId"]) }{$userAddress['userName']}{/if}<i></i></div>
          <div class="address" onmouseover="addrBoxOver(this)" onmouseout="addrBoxOut(this)">
            <span id='s_address'>
            {if isset($userAddress["addressId"]) }
            {$userAddress['userName']}&nbsp;&nbsp;&nbsp;{$userAddress['areaName']}&nbsp;&nbsp;{$userAddress['userAddress']}&nbsp;&nbsp;{$userAddress['userPhone']}
            {/if}
            </span>
            &nbsp;&nbsp;
            <span id="isdefault" {if(isset($userAddress['isDefault'])&&($userAddress['isDefault']==1))} class="j-default">{:lang('combination_default_address')}{else /} >{/if}</span>
            <div class="operate-box">
              <a href="javascript:void(0)" onclick="javascript:toEditAddress({if isset($userAddress["addressId"]) }{$userAddress["addressId"]}{/if},this,1,1,1)">{:lang('combination_edit')}</a>&nbsp;&nbsp;
            </div>
          </div>

          <div class='wst-clear'></div>

          <div class="address">
            <a class="wst-lfloat" href='javascript:void(0)' onclick='javascript:showEditAddressBox()' style=''>{:lang('combination_more_address')}</a>
          </div>

       </div>
       <!-- 地址列表  -->
       <ul class='j-list-box hide' id='addressList'></ul>
       <!-- 新增编辑地址 -->
       <div class='j-edit-box {if !empty($userAddress)}hide{/if}'>
          <form id='addressForm' autocomplete='off'>
            <input type='hidden' class='j-eipt' id='addressId' value=''/>
            <div class='rows'>
                <div class='label'>{:lang('combination_consignee')}<font color='red'>*</font>：</div>
                <div class='field'><input type='text' class='j-eipt' id='userName' maxLength='15'/></div>
                <div class='wst-clear'></div>
            </div>
            <div class='rows'>
                <div class='label'>{:lang('combination_receiving_address')}<font color='red'>*</font>：</div>
                <div class='field'>
                <select id="area_0" class='j-areas' level="0" onchange="WST.ITAreas({id:'area_0',val:this.value,isRequire:true,className:'j-areas'});">
              <option value="">{:lang('combination_please_select')}</option>
              {volist name="areaList" id="vo"}
              <option value="{$vo['areaId']}">{$vo['areaName']}</option>
              {/volist}
          </select>
                <input type='text' class='j-eipt' id='userAddress' style='width:300px' maxLength='50'/>
                </div>
                <div class='wst-clear'></div>
            </div>
            <div class='rows'>
                <div class='label'>{:lang('combination_contact_number')}<font color='red'>*</font>：</div>
                <div class='field'><input type='text' id='userPhone' class='j-eipt' name="userPhone" maxLength='11'/>  </div>
                <div class='wst-clear'></div>
            </div>
            <div class='rows'>
                <div class='label'>{:lang('combination_is_default_address')}<font color='red'>*</font>：</div>
                <div class='radio-box'>
                  <label style='margin-right:36px;'>
                     <input type='radio' name='isDefault' value='1' checked class='j-eipt wst-radio' id="isDefault1"/><label class="mt-1" for="isDefault1"></label>{:lang('combination_yes')}
                  </label>
                  <label>
                     <input type='radio' name='isDefault' value='0' class='j-eipt wst-radio' id="isDefault2"/><label class="mt-1" for="isDefault2"></label>{:lang('combination_no')}
                  </label>
                </div>
                <div class='wst-clear'></div>
            </div>
            <div class='rows'>
                <a href='javascript:void(0)' class='wst-cart-reda' id='saveAddressBtn' onclick='javascript:editAddress()' style='width:105px;line-height:33px;padding:6px 15px'>{:lang('combination_save_address_of_consignee')}</a>
            </div>
          </form>
       </div>
    </div>
    <!-- 支付方式 -->
    <div class='pay-box' style='border-top:2px solid #fc7a64'>
       <div class='box-head'>{:lang('combination_pay_type')}</div>
       <div class="wst-list-box">
          {if !empty($payments['0'])}
          <div class="wst-frame2 j-selected" onclick="javascript:changeSelected(0,'payType',this)">{:lang('combination_cash_on_delivery')}<i></i></div>
          {/if}
          {if !empty($payments['1'])}
          <div class="wst-frame2 <?php echo empty($payments['0'])?'j-selected':''; ?>" onclick="javascript:changeSelected(1,'payType',this)">在线支付<i></i></div>
          {/if}
          <input type='hidden' value="<?php echo empty($payments['0'])?1:0; ?>" id='payType' class='j-ipt' />
          <div class='wst-clear'></div>
       </div>
    </div>
    {php}$shopFreight = 0;$freight = 0;{/php}
    {php}$cartShops = array_shift($carts["carts"]);$cartGoods = $cartShops['list'];{/php}
    {php}
       if($cartShops['isFreeShipping']!=1){
         if(!empty($userAddress)){
             $freight = WSTOrderFreight($cartShops['shopId'],$userAddress['areaId2'],$cartShops);
             $shopFreight = $shopFreight + $freight;
         }else{
             $freight = 0;
             $shopFreight = $shopFreight + $freight;
         }
       }
    {/php}
    <!-- 商品清单 -->
    <div class='cart-box2'>
       <div class='box-head2'>{:lang('combination_goods_merchbill')}</div>
       <div class='cart-head2'>
          <div class='goods2'>{:lang('combination_goods')}</div>
          <div class='price2'>{:lang('combination_unit_price')}</div>
          <div class='num2'>{:lang('combination_type')}</div>
          <div class='t-price2'>{:lang('combination_package_price')}</div>
       </div>
       <div class='cart-item'>
          <div class='shop2'>
          {$cartShops['shopName']}
          
          </div>
          <div class='goods-list'>
             {php}
             foreach($cartGoods as $gkey => $goods){

             {/php}
             <div class='item'>
    		        <div class='goods2'>
    		            <div class='img2'>
    		                <a href='{:Url("home/goods/detail","goodsId=".$goods["goodsId"])}' target='_blank'>
    			            <img src='__RESOURCE_PATH__/{$goods["goodsImg"]}' width='80' height='80' title='{$goods["goodsName"]|WSTStripTags}'/>
    			            </a>
    		            </div>
    		            <div class='name2'>{$goods["goodsName"]}</div>
    		            <div class='spec2'>
                    {if isset($goods["specNames"])}
                    {volist name='goods["specNames"]' id='specs'}
                    <div>{$specs['catName']}：{$specs['itemName']}</div>
                    {/volist}
                    {/if}
                    </div>
    		        </div>
    		        <div class='price2'>{:lang('currency_symbol')}{$goods['shopPrice']}</div>
    		        <div class='num2'>{if $goods['goodsType']==1}{:lang('combination_main_goods')}{else}{:lang('combination_combine_goods')}{/if}</div>
    		        <div class='t-price2'>{:lang('currency_symbol')}{$goods['shopPrice']}</div>
    		        <div class='wst-clear'></div>
            </div>
            {php}}{/php}
            <div class='shop-remark selected2'>
              {:lang('combination_order_remark')}：<input type='text' id="remark_{$cartShops['shopId']}" class='j-ipt' style='width:700px;' maxLength='100' placeholder='{:lang('combination_leave_message_to_seller')}'/>
            <div style="float: right;margin-top:-10px;">
            <p style="text-align:right;padding-right:13px;" >
              <span style="text-align: right;line-height: 30px;">{:lang('combination_freight')}：<span id="shopF_{$cartShops['shopId']}" style='font-weight: bold;color: #E55356;'>{:lang('currency_symbol')}{$freight}</span></span>
            </p>
             <span style='text-align:right;line-height:30px;padding-right:13px;'>{:lang('combination_shop_total')}：<span id="shopC_{$cartShops['shopId']}" style='font-weight: bold;color: #E55356;'>{:lang('currency_symbol')}{$freight+$carts['goodsTotalMoney']}</span></span>
             </div>

           </div>
          </div>
       </div>
       <!-- 送货方式 -->
    <div class='pay-boxs'>
       <div class='box-head'>{:lang('combination_delivery_method')}</div>
       <div class="wst-list-box">
          <input type='hidden' class='j-ipt' id='combineKey' value='{$combineKey}'/>
          <input type='hidden' class='j-ipt' id='combineId' value='{$cartShops['combineId']}'/>
          <input type="hidden" id="shopId" value="{$cartShops['shopId']}"/>
          <input type="hidden" id="deliverType" value="0" class='j-ipt j-deliver'/>
          <input type="hidden" id="storeId" value="0" class='j-ipt'/>
          <input type="hidden" id="store_areaId" value="{if isset($userAddress['addressId']) }{$userAddress['areaId']}{/if}"/>
          <input type="hidden" id="store_areaIdPath" value="{if isset($userAddress['addressId']) }{$userAddress['areaIdPath']}{/if}"/>

         <div id="deliverType0" class="wst-frame2 j-selected" onclick="javascript:changeDeliverType(0,'deliverType',this)">{:lang('combination_express_delivery')}<i></i></div>
         <div id="deliver_btn" class="wst-frame2 hide" onclick="javascript:changeDeliverType(1,'deliverType',this)">{:lang('combination_self_extraction')}<i></i></div>
          <div id="deliver_info" style="line-height: 40px;display: none;"></div>
          <div class='wst-clear'></div>
       </div>
    </div>
       <div class='cart-footer'>
          <div class='cart-summary2'>
          	<div class="summarys2">
    <!-- 发票信息 -->
    {if($cartShops['isInvoice']==1)}
    <div class="pay-boxs">
       <div class='box-head'>{:lang('combination_invoice_information')}</div>
         <div class="j-show-box">

         <div style="float:left;" id="invoice_info">{:lang('combination_no_invoice')}</div>
         <div style="float:left;color:blue;margin-left:10px;cursor:pointer;" onclick='javascript:changeInvoice(1,"#invoiceClientDiv",this)'>{:lang('combination_update')}</div>

         <div class="wst-clear"></div>
         <input type="hidden" id="invoice_obj" value="0" />
           <input type="hidden" id="invoiceId" value="0" class='j-ipt' />
           <input type='hidden' value='0' id='isInvoice' class='j-ipt' />
           <input type='hidden' value='个人' id='invoiceClient' class='j-ipt' />
       </div>
       <div class='wst-clear'></div>
     </div>
     {/if}
          	</div>
          	<div class="summarys3" style='text-align:right;padding-right:20px'>
             {if WSTConf('CONF.isOpenScorePay')==1}
             <div>
             {:lang('combination_score_tips1',[$userOrderScore,$userOrderMoney])}
             <input type='checkbox' id='isUseScore' autocomplete="off" onclick='javascript:checkScoreBox(this.checked)' dataval="{$userOrderScore}"/>{:lang('combination_integral_pay')}
             <span id='scoreMoney' style='display:none'>
             ，{:lang('combination_use_integral')}<input type="text" id="useScore" style="width:50px;margin-left:5px" class='j-ipt' onkeyup="javascript:WST.isChinese(this,1)" autocomplete="off" onkeypress="return WST.isNumberKey(event)" onblur="javascript:getCartMoney()" value="{$userOrderScore}"/>
             </span>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{:lang('currency_symbol')}-<span id='scoreMoney2'>0.0</span></div>
             {/if}
             <div class='summary2'>{:lang('combination_needpay_total')}：{:lang('currency_symbol')}<span id='totalMoney' v='{$carts["goodsTotalMoney"]}'>
             {if empty($userAddress)}
             {$carts["goodsTotalMoney"]}
             {else}
             {$carts["goodsTotalMoney"]+$shopFreight}
             {/if}
             </span></div>
             <div {if WSTConf('CONF.isOrderScore')!=1 }style='display:none'{/if}>{:lang('combination_available_integral')}：<span id='orderScore'>{:WSTMoneyGiftScore($carts["goodsTotalMoney"])}</span>个</div>
             </div>
             <div class='wst-clear'></div>
          </div>
       </div>
    </div>
     <div class='cart-btn'>
        <a href='javascript:void(0)' onclick='javascript:submitOrder()' class='wst-order wst-cart-reda' style='width:118px;height:33px;line-height:33px;'>{:lang('combination_submit_order')}</a>
        <div class='wst-clear'></div>
     </div>
</div>


<div class='j-store-box store-box hide'>
  <div style="padding: 20px;">
    <div>{:lang('combination_self_lift_point_desc')}</div>
    <div style="padding: 20px 0;">
      <select id="storearea_0" class='j-storeareas' level="0" onchange="WST.ITAreas({id:'storearea_0',val:this.value,isRequire:true,className:'j-storeareas',afterFunc:'lastAreaCallback'});">
        <option value="">{:lang('combination_please_select')}</option>
        {volist name="areaList" id="vo"}
        <option value="{$vo['areaId']}">{$vo['areaName']}</option>
        {/volist}
      </select>
    </div>
    <div class="store-container">
      <div id="storelist" class="pick-sites">

      </div>
      <script id="tblist" type="text/html">
       {{# for(var i = 0; i < d.length; i++){ }}
        <div class="c-site-item ">
        <label>
        <div class="c-site-r">
          <input type="radio" name="storeId" value="{{d[i].storeId}}" {{(i==0 || d[i].storeId==currStoreId)?'checked':''}}>
        </div>
        <div class="c-site-name"><span id="storeName_{{d[i].storeId}}">{{d[i].storeName}}</span><b></b></div>
        </label>
        <div class="c-site-field">
          <div class="c-site-field-title"><span></span></div>
          <div class="c-site-field-detail"><span id="storeAddress_{{d[i].storeId}}" class="tip">{{d[i].storeAddress}}</span></div>
        </div>
        <div class="clr"></div>
        </div>
       {{# } }}
       </script>
    </div>
  </div>
</div>
{/block}
{block name="footer"}
  {include file="$LAYOUT_HOME_FOOTER" /}
{/block}
{block name="js"}
<script src="__ROOT__/runtime/js/addons/lang-{$lang}.js?v={$v}" type="text/javascript"></script>
<script type='text/javascript' src='__ROOT__/addons/combination/view/home/js/carts.js?v={$v}'></script>
<script type="text/javascript">
$(function(){
    checkSupportStores();
});
</script>
{/block}
