{extend name="$LAYOUT_HOME_SHOP_BASE" /}
{block name="title"}{:lang('auction_activity_title')} - {:lang('auction_seller_center')}{/block}
{block name="top"}
	{include file="$LAYOUT_HOME_TOP" /}
{/block}
{block name="content"}
<div class="wst-shop-head"><span>{:lang('auction_goods')}</span></div>
<div class="wst-shop-tbar">
  <label>
    {:lang('auction_goods_name')}：<input type="text" name="goodsName" id="goodsName" class="s-query" /><a class="s-btn" onclick="queryByPage()">{:lang('auction_query')}</a>
  </label>
  <label>
    <a class="s-btn" style="float: right;width:80px;line-height:16px;height:16px;margin-top:2px;" onclick="javascript:toEdit(0)">{:lang('auction_add')}</a>
  </label>
</div>
<div class="wst-shop-content">  
   <table class='wst-list'>
   <thead>
   <tr>
     <th>{:lang('auction_goods_name')}</th>
     <th>{:lang('auction_auction_price')}</th>
     <th>{:lang('auction_start_time')}</th>
     <th>{:lang('auction_end_time')}</th>
     <th>auction_curr_price</th>
     <th>{:lang('auction_participant_num')}</th>
     <th>{:lang('auction_status2')}</th>
     <th width="100">{:lang('auction_operation')}</th>
   </tr>
   </thead>
   <tbody id='list'></tbody>
   <tfoot>
     <tr align="center"><td colspan='10' id='pager'></td></tr>
   </tfoot>
   <script id="tblist" type="text/html">
   {{# for(var i = 0; i < d.length; i++){ }}
   <tr>
      <td>
          <div class="goods-img">
          <a href='{{WST.AU("auction://goods/detail","id="+d[i]["auctionId"])}}' target='_blank'>
            <img class='j-lazyGoodsImg'  data-original='__RESOURCE_PATH__/{{d[i].goodsImg}}'/>
          </a>
        </div>
        <p class="goodsName">
          {{WST.cutStr(d[i]['goodsName'],43)}}
        </p>
      </td>
      <td>{:lang('currency_symbol')}{{d[i]['auctionPrice']}}</td>
  	  <td>{{d[i]['startTime']}}</td>
   	  <td>{{d[i]['endTime']}}</td>
      <td>{{d[i]['currPrice']}}</td>
      <td><a style='color:blue' href='{{WST.AU("auction://shops/bidding","id="+d[i]["auctionId"])}}'>{{d[i]['auctionNum']}}</a></td>
      <td>
      {{#if(d[i]['auctionStatus']==0){}}
      <span class='lbel lbel-warning'>{:lang('auction_wait_audit')}</span>
      {{#}else if(d[i]['auctionStatus']==-1){}}
      <span class='lbel lbel-danger' title="{{d[i]['illegalRemarks']}}">{:lang('auction_audit_fail')}</span>
      {{#}else{}}
        {{#if(d[i]['status']==0){}}
        <span class='lbel lbel-info'>{:lang('auction_label_status_0')}</span>
        {{#}else if(d[i]['status']==1){}}
        <span class='lbel lbel-success'>{:lang('auction_label_status_1')}</span>
        {{#}else{}}
        <span class='lbel lbel-gray'>{:lang('auction_label_status_5')}</span>
        {{#}}}
      {{#}}}
      </td>
      <td>
         {{#if(d[i]['auctionStatus']==1){}}
         <a href='{{WST.AU("auction://goods/detail","id="+d[i]["auctionId"])}}' target='_blank'>{:lang('auction_check')}</a>
         {{#}}}
         {{#if(d[i]['editable']==1){}}
         <a href='javascript:toEdit({{d[i]["auctionId"]}})'>{:lang('auction_edit')}</a>
         {{#}}}
         {{#if(d[i]['auctionNum']>0){}}
            {{#if(d[i]['orderId']>0){}}
            <a href='javascript:del({{d[i]["auctionId"]}})'>{:lang('auction_del')}</a>
            {{#}}}
         {{#}else{}}
            <a href='javascript:del({{d[i]["auctionId"]}})'>{:lang('auction_del')}</a>
         {{#}}}

      </td>
   </tr>
   {{# } }}
   </script>
  </table>
  <div id='pager'></div>
</div>
{/block}  
{block name="footer"}
	{include file="$LAYOUT_HOME_FOOTER" /}
{/block}
{block name="js"}
<script src="__ROOT__/runtime/js/addons/lang-{$lang}.js?v={$v}" type="text/javascript"></script>
<script type="text/javascript" src="__ROOT__/addons/auction/view/home/shops/shop.js?v={$v}"></script>
<script type="text/javascript">
$(function(){
	queryByPage();
});
</script>
{/block}