{extend name="default/base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/mmgrid/mmGrid.css?v={$v}" />
{/block}
{block name="main"}
<style>
.c999{color:#999;}
.consult{margin-bottom: 15px;}
.consultImg,.consultImg a,.consultImg a img{width: 50px !important;height: 50px !important}
</style>
<div class="wst-toolbar">
    <select name="consultType" id="consultType" class="s-query">
        <option value="0">-{:lang('goodsconsult_select_consult_type')}-</option>
      {volist name=":WSTDatas('COUSULT_TYPE')" id="vo"}
            <option value="{$vo['dataVal']}" >{$vo['dataName']}</option>
      {/volist}
    </select>
    <input type="text" id="consultKey" class="s-query" placeholder="{:lang('label_goodsconsult_key_plo')}"/>
    <a class="s-btn btn btn-primary" onclick="loadGrid()"><i class="fa fa-search"></i>{:lang('query')}</a>
    <a class="btn btn-primary f-right"  onclick="editConsult(0,-1)"><i class="fa fa-pencil"></i>{:lang('goodsconsult_batch_hide')}</a>
    <a class="btn btn-primary f-right" onclick="editConsult(1,-1)" style='margin-right:5px;'><i class="fa fa-pencil"></i>{:lang('goodsconsult_batch_show')}</a>
</div>
<div class='wst-grid'>
    <div id="mmg" class="mmg"></div>
    <div id="pg" style="text-align: right;"></div>
</div>
{/block}
{block name="js"}
<script src="__STATIC__/plugins/mmgrid/mmGrid.js?v={$v}" type="text/javascript"></script>
<script type='text/javascript' src='__SUPPLIER__/goodsconsult/goodsconsult.js?v={$v}'></script>
<script>
$(function(){
  queryByPage({$p});
})
</script>
{/block}
