<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:lang('informs_title')}</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        ul,li{
            list-style: none;
        }
        .content{
            padding:24px;
            line-height: 24px;
        }
    </style>
</head>

<body>
    <div class="content">{$tips}</div>
    
</body>
</html>