body{font-size:.14rem}
.order-tab{height:30px;line-height:30px;padding:0;background:#fff}
.item-head{padding:5px}
.tab-item{text-align:center}
.tab-curr{border-bottom:2px solid red}
.order-item{background:#fff;margin-top:0.1rem;padding:0 0.12rem;border-bottom:1px solid #f2f2f2}
.order-tr{text-align:right}
.o-status{color:red}
.o-Img{max-width:0.9rem;max-height:0.9rem;width:0.9rem;height:0.9rem;margin: 0.1rem 0;padding-top: 0;}
.o-gInfo-container{width:calc(100% - 0.8rem)}
.o-gInfo{padding:0 0.1rem 0 0.1rem;margin:0.1rem 0;height:0.6rem;}
.o-gInfo2{padding:0.05rem 0.1rem 0 0.1rem;}
.o-gPrice{font-size:0.14rem;color:#666;}
.o-gName{color:#333;font-size:0.12rem;}
.o-gSpec{color:#f1f1f1}
.border-b{padding-bottom:5px;border-bottom:1px solid #f1f1f1}
.o-btn-box{padding-right:0}
.o-btn{float:right;margin-bottom:5px;margin-right:5px;font-size:.15rem;color:red;border:1px solid red;padding:0 9px}
.o-cancel-btn{color:inherit;border:1px solid #000}
.wst-wa-info{background:#fff;padding:5px 0;margin:0.1rem 0;}
.wst-wa-info .info{padding:5px 0;text-align:center;border-bottom:1px solid #f1f1f1}
.wst-wa-info .info span{color:red}
.wst-wa-info .pay-info{text-align: center;padding:0.1rem 0.1rem 0 0.1rem;color:#000;font-weight:bold;}
.wst-wa-info .pay{padding:10px}
.wst-wa-info .pay input{width:80%;padding:2px 2px 2px 5px;height:36px;border-radius:2px;border:1px solid #e6e6e6;}
.wst-wa-forget{padding-bottom:20px}
.wst-pa-l{margin-top:8px}
.wst-pa-l .line{border-bottom:1px solid #edebeb}
.wst-pa-l span{width:23px;height:23px;display:block;margin-right:6px}
.wst-pa-l .weixinpays{background:url(../../../../../../wstmart/mobile/view/default/img/pays-weixin.png) center center no-repeat;background-size:100%}
.wst-pa-l .wallets{background:url(../../../../../../wstmart/mobile/view/default/img/pays-wallets.png) center center no-repeat;background-size:100%}
.wst-pa-l .alipays{background:url(../../../../../../wstmart/mobile/view/default/img/pays-ali.png) center center no-repeat;background-size:100%}
.wst-pa-l .ccgwpays{background:url(../../../../../../wstmart/mobile/view/default/img/pays-ccgw.png) center center no-repeat;background-size:100%}
.wst-pa-l .paypals{background: url(../../../../../../wstmart/mobile/view/default/img/pays-paypals.png) center center no-repeat;background-size: 100%;}

.wst-btn-dangerlo{color:#fff;font-size:.15rem;height:0.4rem;line-height:0.4rem;background:#EA4341;border-radius:0.2rem;}
.wst-btn-dangerlo:not(.disabled):not(:disabled):active{color:#fff0f0;background:#f52f30;background-clip:padding-box}
.wst-btn-dangerlo:disabled{color:#fff;background:#ccc;border-bottom:1px solid #f1f1f1;}
.wst-orders_pricet{color:#333;font-size: 0.14rem;}
.wst-orders_prices{color:#333;font-size: 0.14rem;font-weight: bold;}