{extend name="$LAYOUT_HOME_BASE" /}
{block name="title"}{:lang('presale_pay_title')} - {:WSTConf('CONF.mallName')}{__block__}{/block}
{block name="meta"}
{/block}
{block name="css"}
<link href="__ROOT__/addons/presale/view/home/index/css/carts-{$lang}.css?v={$v}" rel="stylesheet">
{/block}
{block name="top"}
	{include file="$LAYOUT_HOME_TOP" /}
{/block}
{block name="header"}
	{include file="$LAYOUT_HOME_HEADER" /}
{/block}
{block name="main"}
<div class="wst-container">
	<div class="pay-sbox-head">
    	<a href='{$Request.root.true}'>{:lang('presale_home_page')}</a>&nbsp;&gt;&nbsp;{:lang('presale_pay')}
    </div>
    <div>
    	<div class="pay-tip3"></div>
    </div>

    <div class='pay-sbox'>
    	<div class='succ-box'>
	         <div class="imgs"><img src="__STYLE__/img/icon_success.png"/></div>
	         <div class='wst-clear'></div>
	         <div class="info" style="line-height:35px;">
	          <span>{:lang('presale_pay_done')}</span>
	         </div>
	         <div class="go">
	         	<a href='{:url("home/index/index")}' class="wst-order-success wst-cart-reda" style="margin: 0 auto;">{:lang('presale_continue_buy')}</a>
	         </div>
         </div>
    </div>
</div>
{/block}
{block name="footer"}
	{include file="$LAYOUT_HOME_FOOTER" /}
{/block}
