.presale-head{width:1200px;margin-left: auto;margin-right: auto;margin-top:10px;color:#999;}
.presale-head div.item{float:left;margin-right:6px;position:relative;}
.presale-head .arrow{float:left;position: relative;top:2px;padding-right:12px;font-style: normal;}
.presale-head .item .link{color:#666;float:left;border:0px;margin-right:5px;height:22px;line-height: 22px;}
.presale-selector{border-bottom:1px solid #f1f1f1;padding-top:20px;padding-bottom:10px;width:1200px;margin-left: auto;margin-right: auto;margin-top:10px;}
.selector-head{width:100px;float:left;text-align: right;}
.selector-item{width:1100px;float:left;}
.selector-item li{float:left;margin-right:10px;margin-bottom:10px;min-width:140px;}
.selector-item .curr{background:#DF2003;border-radius: 0.25em;color: #fff;padding:5px;}
.goods-main, .goods-list{width:100%;}
.goods-list .goods{width:228px;margin:5px 4px 5px 6px;border:1px solid #e5e5e5;float:left;height:330px;}
.goods-list .goods:hover{    border:1px solid #ddd;-webkit-box-shadow:0 0 10px #bbb;  -moz-box-shadow:0 0 10px #bbb;  box-shadow:0 0 10px #bbb;}
.goods-list .goods .img{width:228px;height:228px;overflow:hidden;margin:0 auto;text-align:center;vertical-align:middle;display:block;position:relative; display:table-cell; padding:4px;}
.goods-list .goods .img a{display:table-cell;vertical-align:middle;width:228px; height:228px;} 
.goods-list .goods .img a img{max-width:200px;max-height:200px;} 
.goods-list .goods .goods-txt{height:115px;}
.goods-list .goods .p-name{height: 40px;line-height: 20px;padding: 0px 10px;margin-bottom: 10px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical}
.goods .price-box{padding:0px 0px 10px 10px;}
.goods .price-box .price-txt{float:left;line-height:35px;}
.goods .price-box .price{
    font-weight: 400;
    font-size: 20px;
    color: #ff0036;}
.goods .price-box .price b{    margin-right: 2px;
    font-weight: 700;
    font-size: 14px;}
.goods .price-box .font{font-size:30px;color:#d23030;}
.goods .price-box .num{background-color: #d23030;float: right;width: 82px;height: 25px;line-height: 25px;font-size: 16px;color: #fff;text-align: center;margin-right: -3px;}
.goods-list .out .num{background:#f1f1f1;}
.goods .time-box{line-height:30px;height:40px;border-top:1px dotted #f1f1f1;padding:0px 0px 0px 10px;font-weight:bold:color:#000000;}
.goods .time-box .img{background:url('../../../../../../wstmart/home/view/default/img/icon_tgtime.png') no-repeat;float:left;width:30px;height:30px;margin-top:5px;}
.goods .time-box .countDown{float:left;line-height:40px;}
.presale-tip{color: #C60}