{extend name="default/base" /}
{block name="title"}{:lang('orders_to_be_written_off_seller_center')}{__block__}{/block}
{block name="css"}
<style>

.v-btn{background: #03a9f4;border: 0;line-height: 45px;padding: 6px 12px;width: 200px;font-size: 18px;color: #fff;border-radius: 4px;}
.v-btn:hover{opacity: 0.9;}
.binfo{line-height: 35px;font-size: 14px;margin-top: 30px;position: relative;}
.binfo .lcol{float: left;width:50%;}
.binfo .rcol{float: right;width:50%;}
.btn-box{text-align: center;margin-top: 30px;}
.has-verificat{border: 2px solid #EA4341;width: 80px;height: 35px;line-height: 35px;position: absolute;right: 50px;font-size: 14px;font-weight: bold;color: #EA4341;text-align: center;}
</style>
{/block}
{block name="main"}

  <div class='wst-shop-content'>
      <div class='wst-toolbar' style="box-shadow: rgb(245, 245, 245) 5px 5px 6px 3px;">
          <input type='text' class="s-query" value="" id='verificationCode' placeholder='{:lang("please_enter_the_order_verification_code")}' maxlength="30" onkeyup="javascript:WST.isChinese(this,1)" style="width: 500px;" />
          <a class="btn btn-primary" onclick="getVerificatOrder()"><i class="fa fa-search"></i>{:lang("query")}</a>
      </div>

      <div id='loading' style="display: none;">
         <img src="__SHOP__/img/ajax-loader.gif">{:lang('loading')}
      </div>
      <div id="orderInfo"></div>
    <script id="tblist" type="text/html">


      <div class='order-box' style="padding:10px;margin: 0;">
        <div class="binfo">
          <div class="verificat has-verificat" style="{{(d.orderStatus>0)?'':'display: none'}}">{:lang('orders_verified')}</div>
          <div class="bitem">
            <div class="lcol"><label>{:lang("order_number")}：</label>{{d.orderNo}}</div>
            <div class="rcol"><label>{:lang("order_status")}：</label>{{d.orderStatusName}}</div>

            <div class='f-clear'></div>
          </div>
          <div class="bitem">
            <div class="lcol"><label>{:lang("order_time")}：</label>{{d.createTime}}</div>
            <div class="rcol"><label>{:lang('payment_status')}：</label><span style="color:{{d.isPay?'':'red'}}">{{d.isPay?WST.lang('paid'):WST.lang('cash_on_Delivery')}}</span></div>
            <div class='f-clear'></div>
          </div>
          <div class="bitem">
            <div class="lcol"><label>{:lang('order_user')}：</label>{{d.userName}}</div>
            {{# if(d.isInvoice==1) { }}
            <div class="rcol"><label>{:lang('invoice_status')}：</label><span style="color:{{d.isMakeInvoice?'':'red'}}">{{d.isMakeInvoice?{:lang('opened')}:{:lang('not_yet_opened')}}}</span></div>
            {{# } }}
            <div class='f-clear'></div>
          </div>
          <div class="bitem">
            <div class="lcol"><label>{:lang('phone_number')}：</label>{{d.userPhone}}</div>
            <div class="rcol verificat" style="{{(d.orderStatus>1)?'':'display: none'}}"><label>{:lang('verification_time')}：</label><span id="verificationTime">{{WST.blank(d.verificationTime,'-')}}</span></div>

            <div class='f-clear'></div>
          </div>
        </div>
        <div class='box-head'>{:lang('commodity_list')}</div>
        <div class='goods-head' style="margin: 0">
          <div class='goods'>{:lang('goods')}</div>
          <div class='number'>{:lang('goods_number')}</div>
          <div class='price'>{:lang('unit_Price')}</div>
          <div class='num'>{:lang('number')}</div>
          <div class='t-price'>{:lang('total_price')}</div>
        </div>
        <div class='goods-item'>
          <div class='goods-list'>
            {{# for(var i = 0; i < d.goods.length; i++){ }}
             <div class='item j-g'>
             <div class='goods'>
                <div class='img'>
                  <img src='__ROOT__/{{d.goods[i].goodsImg}}' width='80' height='80' title='{{d.goods[i].goodsName}}'/>
                </div>
                <div class='name'>
                  <div style="font-weight:bold;font-size:13px;">
                  {{#if (d.goods[i].goodsCode=='gift'){}}{:lang('gift')}{{# } }}{{d.goods[i].goodsName}}
                  </div>
                  <div class='spec'>{{d.goods[i].goodsSpecNames?d.goods[i].goodsSpecNames:""}}</div>
                </div>
             </div>
             <div class="number">{{d.goods[i].goodsSn}}</div>
             <div class='price'>{:lang('currency_symbol')}{{d.goods[i].goodsPrice}}</div>
             <div class='num'>{{d.goods[i].goodsNum}}</div>
             <div class='t-price'>{:lang('currency_symbol')}{{d.goods[i].goodsPrice * d.goods[i].goodsNum}}</div>
             <div class='f-clear'></div>
             </div>
             {{# } }}
          </div>
        </div>
        <div class='goods-footer'>
          <div class='goods-summary' style='text-align:right'>
             <div class='summary'>{:lang('total_amount_of_goods')}：{:lang('currency_symbol')}<span style="color: red">{{d.goodsMoney}}</span></div>
             <div class='summary line'>{:lang('amount_payable')}：{:lang('currency_symbol')}<span style="color: red">{{d.totalMoney}}</span></div>
             {{ d['hook']?d['hook']:"" }}
              {{# if(d.useScore>0){ }}
              <div class='summary '>{:lang('using_integral_numbers')}：<span style="color: red">{{d.useScore}}{:lang('individual')}</span></div>
              <div class='summary'>{:lang('credit_amount')}：{:lang('currency_symbol')}-<span style="color: red">{{d.scoreMoney}}</span></div>
              {{# } }}
             <div class='summary'>{:lang('total_amount_paid')}：{:lang('currency_symbol')}<span style="color: red">{{d.realTotalMoney}}</span></div>
          </div>
        </div>
      </div>
      <div class="btn-box" style="{{(d.orderStatus==0)?'':'display: none'}}"><button class='btn btn-primary' onclick="orderVerificat()"><i class="fa fa-check"></i>&nbsp;{:lang('confirm_cancellation_and_delivery')}</button></div>
    </script>
  </div>
{/block}
{block name="js"}
<script type='text/javascript' src='__SHOP__/orders/orders.js?v={$v}'></script>
<script>
$('#verificationCode').keydown(function(e){
    if(e.keyCode == 13){
        getVerificatOrder();
    }
});
</script>
{/block}
