{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/mmgrid/mmGrid.css?v={$v}" />
{/block}
{block name="js"}
<script src="__STATIC__/plugins/mmgrid/mmGrid.js?v={$v}" type="text/javascript"></script>
<script src="__ADMIN__/ordercomplains/ordercomplains.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="wst-toolbar">
<select id="areaId1" class='ipt j-ipt hide' level="0" onchange="WST.ITAreas({id:'areaId1',val:this.value,className:'j-ipt'});">
  <option value="-1">-{:lang('goods_shop_area_select')}-</option>
  {volist name="areaList" id="vo"}
  <option value="{$vo['areaId']}">{$vo['areaName']}</option>
  {/volist}
</select>
<input type="text" name="orderNo"  placeholder='{:lang('label_ordercomplains_order_no')}' id="orderNo" class='j-ipt'/>
<select id='complainStatus' class='j-ipt'>
 <option value='-1'>{:lang('label_ordercomplains_handle_status')}</option>
 <option value='0'>{:lang('label_ordercomplains_handle_status0')}</option>
 <option value='1'>{:lang('label_ordercomplains_handle_status1')}</option>
 <option value='2'>{:lang('label_ordercomplains_handle_status2')}</option>
 <option value='3'>{:lang('label_ordercomplains_handle_status3')}</option>
 <option value='4'>{:lang('label_ordercomplains_handle_status4')}</option>
</select>
<input type="text" id="startDate" name="startDate" class="laydate-icon j-ipt" maxLength="20" value='' placeholder='{:lang('start_date')}'/>
{:lang('to')}
<input type="text" id="endDate" name="endDate" class="laydate-icon j-ipt" maxLength="20" value='' placeholder='{:lang('end_date')}'/>
   <button class="btn btn-primary" onclick='javascript:loadGrid(0)'><i class="fa fa-search"></i>{:lang('query')}</button>
   <div style='clear:both'></div>
</div>
<div class='wst-grid'>
 <div id="mmg" class="mmg"></div>
 <div id="pg" style="text-align: right;"></div>
</div>
<script>
$(function(){initGrid({$p});})
</script>
{/block}