{extend name="default/base" /}
{block name="css"}
<link href="__SUPPLIER__/css/recharge-{$lang}.css?v={$v}" rel="stylesheet">
{/block}
{block name="main"}
<div class='wst-supplier-content'>
    <div class='pay-sbox'>
    	<div>
    		<div>
				<div class='wst-tips-box'>
				<div class='icon'></div>
					<div class='tips'>
						{:lang('recharge_tips')}<br/>
					</div>
				<div style="clear:both"></div>
	           	</div>
    		</div>
	   		<div class="wst-form">
			    <div class="pay-type" style="overflow: hidden; float: left;">{:lang('label_recharge_money')}：</div>
			    <div>
			       <div class="wst-list-box">
			          {volist name="chargeItems" id="item"}
			          	<div class="wst-frame2 {$key} " onclick="javascript:changeSelected({$item['id']},'itmeId',this)">
				          	{if condition="$item['giveMoney'] gt 0"}
				          	<div class='charge-doub'>{:lang('label_recharge')} <span class="charge-money">{$item['chargeMoney']}</span> {:lang('money_unit')}</div>
				        	<div>{:lang('give')} {$item['giveMoney']} {:lang('money_unit')}</div>
				        	{else/}
				        	<div class='charge-alone'>{:lang('label_recharge')} <span class="charge-money">{$item['chargeMoney']}</span> {:lang('money_unit')}</div>
				          	{/if}
				          	<i></i>
			     		</div>
			          {/volist}
			          	<div class="wst-frame2 " onclick="javascript:changeSelected(0,'itmeId',this)">
				        	<div class='charge-alone'>
				        		<span class="j-charge-other">{:lang('label_recharge_other')}</span>
				        		<span class="j-charge-money"><input class="charge-othermoney j-ipt" id="needPay" value="1" maxlength="10" data-rule="{:lang('label_recharge_money')}:required;" onkeypress="return WST.isNumberKey(event)" onkeyup="javascript:WST.isChinese(this,1)" maxlength="8"></span>
				        	</div>
				          <!--<i></i>-->
			   			</div>
			          	<input type="hidden" value="" id='itmeId' class='j-ipt' />
			          <div class='f-clear'></div>
			       </div>

			    </div>
			    <div style="overflow: hidden;border-top: 1px dashed #eee;border-bottom: 1px dashed #eee;">

			    <div class="pay-type">{:lang('select_pay_type')}：</div>
			    <div class="pay-list" style="overflow: hidden;">
			    	<input type="hidden" id="payCode" name="payCode" />
			    	{volist name="payments" id="payment"}
	                 	{if condition="$payment['isOnline'] eq 1"}
	                    	<div class="wst-payCode-{$payment['payCode']}" data="{$payment['payCode']}"></div>
	                 	{/if}
	                 {/volist}
			         <div class="wst-clear"></div>
			    </div>

	    	    </div>
	    	    <div class="bnt-box" style="width: 200px;">
			    	<button type='button' class='btn btn-success wst-pay-bnt' onclick='javascript:getPayUrl();'><i class='fa fa-shield'></i>{:lang('confirm_submit_pay')}</button>
			    	<div id='paypalBox'  style="width: 200px;margin: 0 auto;display: none;"></div>
			    </div>
			</div>


        </div>
    </div>
</div>
<div id="alipayform" style="display:none;"></div>
{/block}
{block name="js"}
<script type='text/javascript' src='__SUPPLIER__/recharge/recharge.js?v={$v}'></script>
{php}$paypalClientId = WSTGetPaypalClientId();{/php}
{if $paypalClientId!=""}
<script src="https://www.paypal.com/sdk/js?client-id={$paypalClientId}&debug=true&currency=HKD"></script>
<script>
	paypal.Buttons({
		createOrder: function() {
			var needPay = $.trim($("#needPay").val());
			var itmeId = $.trim($("#itmeId").val());
		  return fetch(WST.U('supplier/paypals/getpaypalsurl'), {
		    method: 'post',
		    headers: {
		      'content-type': 'application/json'
		    },
		　　body:JSON.stringify({
		 　　'payObj' : 'recharge',
		 　　'itmeId' : itmeId,
		 　　'needPay' : needPay
		　　})
		  }).then(function(res) {
		  	console.log("res______________",res);
		    return res.json();
		  }).then(function(data) {
		  	console.log("data______________",data);
		    return data.id; // Use the key sent by your server's response, ex. 'id' or 'token'
		  });
		},
		onApprove: function(data, actions) {
			console.log("onApprove______________",data);
	        return actions.order.capture().then(function(details) {
	        	console.log("details——————————————————————————————————————————",details);
	        	if(details['purchase_units'][0]['payments']['captures'][0]['status']=='COMPLETED'){
	        		setTimeout(function(){
	        			location.href = WST.U('home/logmoneys/usermoneys');
	        		},3000);
	        	}
	        });
	    }
	}).render('#paypalBox');

</script>
{/if}
{/block}

